<!DOCTYPE html>
<html lang="en">

<%- include('./commun/head') %>
<link rel="stylesheet" href="assets/extensions/toastify-js/src/toastify.css">

<body>
  <script nonce="<%= nonce %>" src="assets/static/js/initTheme.js"></script>
  <div id="app">
    <%- include('./partials/sidebar') %>
    <div id="main">
      <%- include('./partials/header') %>
      <div class="page-title">
        <div class="row">
          <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>Add company</h3>
            <p class="text-subtitle text-muted">Submit information and details about a new company to be included in the database.</p>
          </div>
          <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashhome">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add company</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <section>
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Company Information</h4>
            </div>
            <div class="card-content">
              <div class="card-body">
                <form class="form form-horizontal" id="companyInfoForm" action="/addcompany" method="POST">
                  <div class="form-body">
                    <div class="row">
                      <div class="col-md-3">
                        <label for="name">Name</label>
                      </div>
                      <div class="col-md-9">
                        <div class="form-group has-icon-left">
                          <div class="position-relative">
                            <input type="text" class="form-control" placeholder="Name" id="name" name="name">
                            <div class="form-control-icon">
                              <i class="bi bi-person"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <label for="email">Email</label>
                      </div>
                      <div class="col-md-9">
                        <div class="form-group has-icon-left">
                          <div class="position-relative">
                            <input type="email" class="form-control" placeholder="Email" id="email" name="email">
                            <div class="form-control-icon">
                              <i class="bi bi-envelope"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <label for="mobile">Mobile</label>
                      </div>
                      <div class="col-md-9">
                        <div class="form-group has-icon-left">
                          <div class="position-relative">
                            <input type="number" class="form-control" placeholder="Mobile" id="mobile" name="mobile">
                            <div class="form-control-icon">
                              <i class="bi bi-phone"></i>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-3">
                        <label for="Ttd">Link text to display</label>
                      </div>
                      <div class="col-md-9">
                        <div class="form-group has-icon-left">
                          <div class="position-relative">
                            <input type="text" class="form-control" placeholder="Text to display" id="Ttd" name="Ttd">
                            <div class="form-control-icon">
                              <i class="bi bi-fonts"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <label for="linkc">Website link</label>
                      </div>
                      <div class="col-md-9">
                        <div class="form-group has-icon-left">
                          <div class="position-relative">
                            <input type="text" class="form-control" placeholder="Website link" id="linkc" name="linkc">
                            <div class="form-control-icon">
                              <i class="bi bi-link-45deg"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <label for="location">Location</label>
                      </div>
                      <div class="col-md-9">
                        <div class="form-group has-icon-left">
                          <div class="position-relative">
                            <input type="text" class="form-control" placeholder="Location" id="location" name="location">
                            <div class="form-control-icon">
                              <i class="bi bi-geo-alt"></i>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-3">
                        <label for="domain">Domain</label>
                      </div>
                      <div class="col-md-9">
                        <div class="form-group has-icon-left">
                          <div class="position-relative">
                            <input type="text" class="form-control" placeholder="Domain" id="domain" name="domain">
                            <div class="form-control-icon">
                              <i class="bi bi-briefcase"></i>
                            </div>
                          </div>
                        </div>
                      </div>


                      <div class="col-12 d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary me-1 mb-1" id="submit-button">Submit</button>
                        <button type="reset" class="btn btn-light-secondary me-1 mb-1">Reset</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>





      <%- include('./partials/footer') %>
    </div>
  </div>


  <%- include('./commun/scripts') %>
  <script nonce="<%= nonce %>" src="assets/extensions/toastify-js/src/toastify.js"></script>
  <script nonce="<%= nonce %>" src="pages/jsac.js"></script>




</body>

</html>