<!DOCTYPE html>
<html lang="en">

<%- include('./commun/head') %>
<link rel="stylesheet" href="assets/extensions/filepond/filepond.css">
<link rel="stylesheet" href="assets/extensions/toastify-js/src/toastify.css">

<body>
  <script nonce="<%= nonce %>" src="assets/static/js/initTheme.js"></script>
  <div id="app">
    <%- include('./partials/sidebar') %>
    <div id="main">
      <%- include('./partials/header') %>
      <div class="page-heading">
        <div class="page-title">
          <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
              <h3>Add Image</h3>
              <p class="text-subtitle text-muted">Upload and publish new images on the website.</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
              <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/dashhome">Dashboard</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Add Image</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
        <section class="section">
          <div class="card">
            <form id="imageForm" action="/addimage" method="post" class="card-body">

              <input id="filepondinput" type="file" name="filepond" multiple />

              <div class="col-12 d-flex justify-content-end">
                <button id="submit-button" type="submit" class="btn btn-primary me-1 mb-1">Upload</button>
              </div>
            </form>

          </div>
        </section>
      </div>



      <%- include('./partials/footer') %>
    </div>
  </div>


  <%- include('./commun/scripts') %>
  <script nonce="<%= nonce %>" src="assets/extensions/filepond-plugin-file-validate-size/filepond-plugin-file-validate-size.min.js"></script>
  <script nonce="<%= nonce %>" src="assets/extensions/filepond/filepond.js"></script>
  <script nonce="<%= nonce %>" src="assets/extensions/toastify-js/src/toastify.js"></script>
  <script nonce="<%= nonce %>" src="pages/jsai.js"></script>


</body>

</html>