<!DOCTYPE html>
<html lang="en">

<%- include('./commun/head') %>
<link rel="stylesheet" href="assets/extensions/flatpickr/flatpickr.min.css">
<link rel="stylesheet" href="assets/extensions/filepond/filepond.css">
<link rel="stylesheet" href="assets/extensions/toastify-js/src/toastify.css">
<link rel="stylesheet" href="assets/extensions/summernote/summernote-lite.css">
<link rel="stylesheet" href="./assets/compiled/css/form-editor-summernote.css">

<body>
  <script src="assets/static/js/initTheme.js"></script>
  <div id="app">
    <%- include('./partials/sidebar') %>
    <div id="main">
      <%- include('./partials/header') %>
      <div class="page-heading">
        <div class="page-title">
          <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
              <h3>Add Announcement</h3>
              <p class="text-subtitle text-muted">Multiple form layouts, you can use.</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
              <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Form Layout</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>



        <!-- // Basic multiple Column Form section start -->
        <section id="multiple-column-form">
          <div class="row match-height">
            <div class="col-12">
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <form id="announcementForm" class="form" action="/addpost" method="post">
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group">
                            <label for="title-column">Title</label>
                            <input type="text" id="title-column" class="form-control" placeholder="title" name="title-column">
                          </div>
                        </div>
                        <div class="col-md-6 col-12">
                          <div class="form-group">
                            <label for="appel-column">Appel de</label>
                            <input type="text" id="appel-column" class="form-control" placeholder="appel de" name="appel-column">
                          </div>
                        </div>
                        <div class="col-md-6 col-12">
                          <div class="form-group">
                            <label for="Expired-column">Expired date</label>
                            <input type="text" id="Expired-column" class="form-control mb-3 flatpickr-no-config flatpickr-input" placeholder="Select date.." readonly="readonly" name="Expired-column">
                          </div>
                        </div>
                        <hr>
                        <div class="col-12">
                          <div class="form-group">
                            <h4>Image</h4>
                            <input id="filepondinput" type="file" name="filepond" multiple />
                          </div>
                        </div>
                        <hr>

                        <div class="col-12">
                          <div class="form-group">
                            <h4>Details</h4>
                            <div id="summernote"></div>
                          </div>
                        </div>





                        <div class="col-12 d-flex justify-content-end">
                          <button id="submit-button" type="submit" class="btn btn-primary me-1 mb-1">Post</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- // Basic multiple Column Form section end -->
      </div>


      <%- include('./partials/footer') %>
    </div>
  </div>


  <%- include('./commun/scripts') %>

  <script src="assets/extensions/flatpickr/flatpickr.min.js"></script>
  <script>
    flatpickr('.flatpickr-no-config', {
      enableTime: true,
      dateFormat: "Y-m-d H:i",
    })
  </script>
  <script src="assets/extensions/summernote/summernote-lite.min.js"></script>
  <script>
$('#summernote').summernote({
  height: 450,
  fontSizes: ['8', '9', '10', '11', '12', '14', '18', '24', '36'],
  styleTags: [
    'p',
    { title: 'Blockquote', tag: 'blockquote', className: 'blockquote', value: 'blockquote' },
    'pre', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6'
  ],
  toolbar: [
    ['style', ['style']],
    ['font', ['bold', 'underline', 'italic', 'strikethrough', 'superscript', 'subscript', 'clear']],
    ['fontname', ['fontname']],
    ['fontsize', ['fontsize']],
    ['color', ['color']],
    ['para', ['ul', 'ol', 'paragraph']],
    ['height', ['height']],
    ['table', ['table']],
    ['insert', ['link', 'picture', 'video', 'hr']],
    ['view', ['fullscreen', 'undo', 'redo', 'codeview', 'help']]
  ],
});

  </script>

  <script src="assets/extensions/filepond-plugin-file-validate-size/filepond-plugin-file-validate-size.min.js"></script>
  <script src="assets/extensions/filepond/filepond.js"></script>
  <script src="assets/extensions/toastify-js/src/toastify.js"></script>
  <script>
    // FilePond plugin registration and initialization
    FilePond.registerPlugin(FilePondPluginFileValidateSize);
    const pond = FilePond.create(document.getElementById("filepondinput"), {
      maxFileSize: '10MB',
      credits: null,
      acceptedFileTypes: ['image/*'] // Only allow image files
    });
  </script>

  <script>
    function viderInputs() {
      // Sélectionnez tous les champs de formulaire que vous souhaitez vider
      var inputsToClear = document.querySelectorAll('input[type=text]');

      // Parcourez chaque champ de formulaire et réinitialisez sa valeur à une chaîne vide
      inputsToClear.forEach(function(input) {
        input.value = '';
      });


      pond.removeFiles();

      // Si vous utilisez un éditeur WYSIWYG comme Summernote, vous devrez peut-être également le vider
      $('#summernote').summernote('code', ''); // Utilisez votre ID Summernote ici
    }



    function showMessage(msg, duration, color) {
      Toastify({
        text: msg,
        close: true,
        duration: duration,
        gravity: "bottom",
        position: "right",
        backgroundColor: color,
      }).showToast()
    }


    $(document).ready(function() {
      $('#announcementForm').submit(function(e) {
        e.preventDefault(); // Prevent the default form submission
        // Disable the submit button and show loading text
        $('#submit-button').prop('disabled', true).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Posting...');


        var summernoteHTML = $('#summernote').summernote('code');
        //console.log(summernoteHTML);

        // Get files from FilePond instance
        const files = pond.getFiles();

        // Create FormData object and append files to it
        const formData = new FormData(this);
        files.forEach(file => {
          formData.append('filepond', file.file);
        });

        formData.append('summernote', summernoteHTML);

        // Send AJAX request
        $.ajax({
          type: 'POST',
          url: '/addpost', // The URL to your Express route
          data: formData,
          processData: false,
          contentType: false,
          success: function(response) {
            setTimeout(function() {
              viderInputs();
              showMessage(response, -1, "#4fbe87");
              $('#submit-button').prop('disabled', false).html('Post');
            }, 1000);


          },
          error: function(xhr, status, error) {
            if (xhr.responseJSON && xhr.responseJSON.errors) {
              const errors = xhr.responseJSON.errors;
              // Iterate through each error in the "errors" list
              errors.forEach(function(errorMsg) {
                // Handle each error as needed
                //console.error('Error:', errorMsg);
                showMessage(errorMsg, -1, "#dc3545");
              });
            }
            // Re-enable the submit button
            $('#submit-button').prop('disabled', false).html('Post');

          }
        });
      });
    });
  </script>





</body>

</html>