<!DOCTYPE html>
<html lang="en">

<%- include('./commun/head') %>
<link rel="stylesheet" href="assets/extensions/toastify-js/src/toastify.css">
<style>
  .para-desc {
    max-width: 600px;
    font-size: 16px
  }

  .avatar.avatar-small {
    width: 40px;
    height: 40px
  }

  .text-dark {
    color: #24272c !important
  }

  .text-muted {
    color: #8492a6 !important
  }

  .blog .blog-img,
  .blog .blog-tag {
    transition: all .5s ease
  }

  .blog .blog-tag {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .blog .content .title,
  .blog .content .author,
  .blog .content .read {
    transition: all .5s ease
  }
</style>

<body>
  <script src="assets/static/js/initTheme.js"></script>
  <div id="app">
    <%- include('./partials/sidebar') %>
    <div id="main">
      <%- include('./partials/header') %>

      <div class="page-heading">
        <div class="page-title">
          <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
              <h3>All Blogs</h3>
              <p class="text-subtitle text-muted">A comprehensive collection of all published blog posts</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
              <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/dashhome">Dashboard</a></li>
                  <li class="breadcrumb-item active" aria-current="page">All Blogs
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>

        <section class="section">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">

                  <% if (blogs && blogs.length > 0) { %>
                  <form action="/allblogs" method="GET" class="container">
                    <div class="col-8 mx-auto">
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" name="search" placeholder="Search..." aria-label="Search..." aria-describedby="button-addon2" value="<%= search %>">
                        <button class="btn btn-primary" type="submit">Search</button>
                      </div>
                    </div>
                  </form>



                  <div class="container">
                    <div class="row mb-4">

                      <% blogs.forEach(blog => { %>
                        <div class="col-lg-4 mt-4 pt-2">
                          <div class="position-relative overflow-hidden blog rounded shadow">
                            <div class="position-relative overflow-hidden">
                              <img src="<%= blog.coverIMGpath %>" class="img-fluid blog-img" alt="">
                              <div class="blog-tag">
                                <% if (isNewBlog(blog.createdAt)) { %>
                                  <span class="badge bg-primary fw-light">New</span>
                                <% } %>
                              </div>
                            </div>
                            <div class="content p-4">
                              <small>
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                                  <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"></path>
                                  <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
                                </svg>
                                <span class="ms-2 fs-7"><%= blog.updatedAt.toDateString() %></span>
                              </small>
                              <a href="/allblogs/<%= blog._id %>">
                                <small class="ms-2">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-chat-dots" viewBox="0 0 16 16">
                                    <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
                                    <path d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z"></path>
                                  </svg>
                                  <%= blog.comments.length %> Comments
                                </small>
                              </a>
                    
                              <a href="/blogs/<%= blog._id %>" class="title  d-block mt-2 h5"><%= blog.title %></a>
                              <p class="text-muted"><%= blog.subtitle %></p>
    
                              <% if (blog.autor && blog.autor.fullname) { %>
                                <div class="d-flex align-items-center mt-3">
                                    <img src="<%= blog.autor.autorIMGpath %>" class="img-fluid rounded-circle avatar avatar-small" alt="">
                                  <div class="ms-2">
                                    <p class="h6 author"><%= blog.autor.fullname %></p>
                                    <p class="text-muted mb-0"><%= blog.autor.expertise %></p>
                                  </div>
                                </div>
                                <% } %>




                              <hr>
                              <div class="d-flex justify-content-evenly mt-3">
                                <a href="/blogs/<%= blog._id %>" class="btn btn-primary">Preview</a>
                                <a href="/allblogs/delete/<%= blog._id %>" class="btn btn-danger">Delete</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <% }); %>

                    </div>
                    
                  </div>

                  <div class="container">
                    <div class="row">
                      <nav aria-label="Page navigation example">
                        <ul class="pagination pagination-primary justify-content-center">
                          <% if (currentPage > 1) { %>
                          <li class="page-item">
                            <a class="page-link" href="?page=<%= currentPage - 1 %>&search=<%= search %>">Previous</a>
                          </li>
                          <% } %>
                          <% for (let i = 1; i <= totalPages; i++) { %>
                          <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                            <a class="page-link" href="?page=<%= i %>&search=<%= search %>"><%= i %></a>
                          </li>
                          <% } %>
                          <% if (currentPage < totalPages) { %>
                          <li class="page-item">
                            <a class="page-link" href="?page=<%= currentPage + 1 %>&search=<%= search %>">Next</a>
                          </li>
                          <% } %>
                        </ul>
                      </nav>
                    </div>
                  </div>

                  <% } else { %>
                    <p>Aucune blog disponible</p>
                  <% } %>



                </div>
              </div>
            </div>
          </div>
        </section>
      </div>



      <%- include('./partials/footer') %>
    </div>
  </div>


  <%- include('./commun/scripts') %>

  <script src="assets/extensions/toastify-js/src/toastify.js"></script>





</body>

</html>