<!DOCTYPE html>
<html lang="en">

<%- include('./commun/head') %>
<style>
  .card-light {
    background-color: white !important;
    color: #343a40 !important;
  }
</style>

<body>
  <script nonce="<%= nonce %>" src="assets/static/js/initTheme.js"></script>
  <div id="app">
    <%- include('./partials/sidebar') %>
    <div id="main">
      <%- include('./partials/header') %>

      <div class="page-heading">
        <div class="page-title">
          <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
              <h3>Toutes les entreprises</h3>
              <p class="text-subtitle text-muted">Aperçu de toutes les informations sur les entreprises.</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
              <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/dashhome">Tableau de bord</a></li>
                  <li class="breadcrumb-item active">Entreprise</li>
                  <li class="breadcrumb-item active" aria-current="page">Toutes les entreprises</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>





      </div>

      <section class="section">
        <div class="card">
          <div class="card-body">
            <!-- filter bar -->
            <form class="row mb-1" action="/allcompanies" method="GET">
              <div class="col-3">
                <div class="form-group">
                  <input type="text" class="form-control" id="search" name="search" placeholder="Recherche..." value="<%= search || '' %>">
                </div>
              </div>
              <div class="col-3">
                <fieldset class="form-group">
                  <select class="form-select" id="location" name="location">
                    <option value="">Location</option>
                    <!-- Populate options dynamically based on locations in MongoDB -->
                    <% locations.forEach(location => { %>
                    <option value="<%= location %>" <%= selectedLocation === location ? 'selected' : '' %>><%= location %></option>
                    <% }); %>
                  </select>
                </fieldset>
              </div>
              <div class="col-3">
                <fieldset class="form-group">
                  <select class="form-select" id="domain" name="domain">
                    <option value="">Domain</option>
                    <!-- Populate options dynamically based on domains in MongoDB -->
                    <% domains.forEach(domain => { %>
                    <option value="<%= domain %>" <%= selectedDomain === domain ? 'selected' : '' %>><%= domain %></option>
                    <% }); %>
                  </select>
                </fieldset>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <button type="submit" class="btn btn-primary">Recherche</button>
                </div>
              </div>
            </form>

            <div class="row mb-4 pb-2">
              <!-- Display companies cards dynamically -->
              <% companies.forEach(company => { %>
              <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card border-0 card-light rounded shadow">
                  <div class="card-body p-4">
                    <span class="badge rounded-pill bg-primary float-md-end mb-3 mb-sm-0"><i class="bi bi-geo-alt-fill me-1"></i><%= company.location %></span>
                    <h5 class="card-title"><%= company.name %></h5>
                    <div class="mt-3">
                      <span class="d-block"><i class="bi bi-globe me-2"></i><a href="<%= company.link %>" target="_blank" class="text-decoration-none"><%= company.ltd %></a></span>
                      <span class="d-block"><i class="bi bi-telephone-fill me-2"></i><%= company.mobile %></span>
                      <span class="d-block"><i class="bi bi-envelope me-2"></i><%= company.email %></span>
                      <span class="d-block"><i class="bi bi-briefcase-fill me-2"></i><%= company.domain %></span>
                    </div>

                    <div class="mt-3">
                      <a class="btn btn-danger" href="/allcompanies/delete/<%= company._id %>">Supprimer</a>
                    </div>
                  </div>
                </div>
              </div>
              <% }); %>
            </div>

            <!-- Pagination -->
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-primary justify-content-center">
                <% if (currentPage > 1) { %>
                <li class="page-item">
                  <a class="page-link" href="?page=<%= currentPage - 1 %>&location=<%= location || '' %>&domain=<%= domain || '' %>&search=<%= search || '' %>">Précédent</a>
                </li>
                <% } %>
                <% for (let i = 1; i <= totalPages; i++) { %>
                <li class="page-item <%= currentPage == i ? 'active' : '' %>">
                  <a class="page-link" href="?page=<%= i %>&location=<%= location || '' %>&domain=<%= domain || '' %>&search=<%= search || '' %>"><%= i %></a>
                </li>
                <% } %>
                <% if (currentPage < totalPages) { %>
                <li class="page-item">
                  <a class="page-link" href="?page=<%= currentPage + 1 %>&location=<%= location || '' %>&domain=<%= domain || '' %>&search=<%= search || '' %>">Suivant</a>
                </li>
                <% } %>
              </ul>
            </nav>
          </div>




        </div>
      </section>





      <%- include('./partials/footer') %>
    </div>
    <%- include('./commun/scripts') %>
</body>

</html>