<!DOCTYPE html>
<html lang="en">

<%- include('./commun/head') %>

<body>
  <script src="assets/static/js/initTheme.js"></script>
  <div id="app">
    <%- include('./partials/sidebar') %>
    <div id="main">
      <%- include('./partials/header') %>
      <div class="page-heading">
        <div class="page-title">
          <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
              <h3>All Image</h3>
              <p class="text-subtitle text-muted">Displays a gallery of all images available on the website.</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
              <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/dashhome">Dashboard</a></li>
                  <li class="breadcrumb-item active" aria-current="page">All Image</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
        <section class="section">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title">Our Gallery</h5>
                </div>
                <div class="card-body">
                  <div class="container">
                    <div class="row gallery">
                      <% images.forEach((image, index) => { %>
                        <div class="col-6 col-sm-6 col-lg-3 mt-2 mt-md-0 mb-md-0 mb-2">
                          <img class="w-100" src="<%= image.resizedPath %>" loading="lazy" alt="<%= image.filename %>">
                          <form action="/allimage/delete-image/<%= image._id %>" method="POST"> <!-- Assuming you have a route to handle delete requests -->
                            <button type="submit" class="btn btn-danger">Delete</button>
                          </form>
                        </div>
                      <% }); %>
                    </div>

                    <div class="row mt-4 pt-2">
                      <nav aria-label="Page navigation example">
                        <ul class="pagination pagination-primary justify-content-center">
                          <% if (currentPage > 1) { %>
                          <li class="page-item">
                            <a class="page-link" href="?page=<%= currentPage - 1 %>">Previous</a>
                          </li>
                          <% } %>
                          <% for (let i = 1; i <= totalPages; i++) { %>
                          <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                            <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                          </li>
                          <% } %>
                          <% if (currentPage < totalPages) { %>
                          <li class="page-item">
                            <a class="page-link" href="?page=<%= currentPage + 1 %>">Next</a>
                          </li>
                          <% } %>
                        </ul>
                      </nav>
                    </div>
                  </div>




                </div>
                <div class="card-footer">

                  
                </div>
              </div>
            </div>
          </div>
        </section>

        





      </div>




      <%- include('./partials/footer') %>
    </div>
  </div>


  <%- include('./commun/scripts') %>






</body>

</html>