<!DOCTYPE html>
<html lang="en">

<%- include('./commun/head') %>
<style>
  #build-wrap {
    padding: 0;
    margin: 10px 0;
    background: #f2f2f2 url('https://formbuilder.online/assets/img/noise.png');
    color: black;
  }

  #build-wrap .form-group label {
    color: black;
  }

  /* Preloader  */
  .The-loader-container-form {
    margin: 0;
    padding: 0;
    background-color:white;
    position: fixed;
    z-index: 9999999;
    inset: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }



  @keyframes pulse {
    50% {
      transform: scale(1.5);
    }
  }
</style>
<link rel="stylesheet" href="assets/extensions/toastify-js/src/toastify.css">

<body>
  <script src="assets/static/js/initTheme.js"></script>
  <div id="app">
    <%- include('./partials/sidebar') %>
    <div id="main">
      <%- include('./partials/header') %>

      <div class="page-heading">
        <div class="page-title">
          <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
              <h3>Create Form</h3>
              <p class="text-subtitle text-muted">Upload and publish new video, Youtube and Local, content on the
                website or platform.</p>
            </div>

            <div class="col-12 col-md-6 order-md-2 order-first">
              <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/dashhome">Dashboard</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Add Video
                  </li>
                </ol>
              </nav>
            </div>

          </div>
        </div>

        <section class="section">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="form-group  mandatory">
                    <label for="title-form" class="form-label">Title</label>
                    <input type="text" id="title-form" class="form-control" placeholder="title" name="title-form"  data-parsley-required="true">
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group  mandatory">
                    <div class="input-group mb-3">
                      <label class="input-group-text" for="inputGroupSelect01">Cible</label>
                      <select class="form-select" id="inputGroupSelect01" name="target">
                          <option value="public" selected>Publique</option>
                          <option value="team">Équipe</option>
                      </select>
                  </div>
                  </div>
                </div>

                <div class="col-12">
                  <div id="build-wrap"></div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>



      <%- include('./partials/footer') %>
    </div>
  </div>
  <div class="The-loader-container-form d-none flex-column">
    <img src="/images/formloader-oval.svg" class="mb-5" style="width: 5rem" alt="loader form">
    <div>
      <p class="fw-bold">Votre demande est en cours de traitement...</p>
    </div>
  </div>


  <%- include('./commun/scripts') %>
  <script src="plugin/jquery-ui/jquery-ui.min.js"></script>
  <script src="plugin/form-builder/form-builder.min.js"></script>
  <script src="assets/extensions/toastify-js/src/toastify.js"></script>
  <!--   <script>
    jQuery($ => {
      const fbTemplate = document.getElementById('build-wrap');
      $(fbTemplate).formBuilder();
    });
  </script> -->
  <script>
    var formDataggg = [{"type":"header","subtype":"h1","label":"Coordinator of Waste Management and Sustainability Programs","required":null,"description":null,"placeholder":null,"className":null,"name":null,"value":null,"maxlength":null,"rows":null,"min":null,"max":null,"step":null,"multiple":null,"toggle":null,"inline":null,"other":null,"requireValidOption":null,"style":null,"access":null,"_id":{"$oid":"6674c04de89caf319cca1c78"},"values":[]},{"type":"text","subtype":"text","label":"Nom","required":false,"description":null,"placeholder":null,"className":"form-control","name":"text-1718927399727-0","value":null,"maxlength":null,"rows":null,"min":null,"max":null,"step":null,"multiple":null,"toggle":null,"inline":null,"other":null,"requireValidOption":null,"style":null,"access":null,"_id":{"$oid":"6674c04de89caf319cca1c79"},"values":[]},{"type":"textarea","subtype":"textarea","label":"Prenom","required":false,"description":null,"placeholder":null,"className":"form-control","name":"textarea-1718927401444-0","value":null,"maxlength":null,"rows":null,"min":null,"max":null,"step":null,"multiple":null,"toggle":null,"inline":null,"other":null,"requireValidOption":null,"style":null,"access":null,"_id":{"$oid":"6674c04de89caf319cca1c7a"},"values":[]},{"type":"button","subtype":"submit","label":"Button","required":null,"description":null,"placeholder":null,"className":"btn-primary btn","name":"button-1718927422636-0","value":null,"maxlength":null,"rows":null,"min":null,"max":null,"step":null,"multiple":null,"toggle":null,"inline":null,"other":null,"requireValidOption":null,"style":"primary","access":null,"_id":{"$oid":"6674c04de89caf319cca1c7b"},"values":[]}]

    function showMessage(msg, duration, color) {
      Toastify({
        text: msg,
        close: true,
        duration: duration,
        gravity: "bottom",
        position: "right",
        backgroundColor: color,
      }).showToast()
    }
    // Wait for the document to be fully loaded
    $(document).ready(() => {
      const fbTemplate = $('#build-wrap');
      const formBuilder = fbTemplate.formBuilder({
        controlPosition: 'left',
        disabledActionButtons: ['data'],
        disabledAttrs: ["className", "name", "access"],
        onSave: function(evt, formData) {
          const loaderContainer = document.querySelector('.The-loader-container-form');
          loaderContainer.classList.remove('d-none');
          loaderContainer.classList.add('flex');
          const titleForm = $('#title-form').val();
          const target = $('#inputGroupSelect01').val();



          $.ajax({
            url: '/createassistance/saveFormData',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
              title: titleForm,
              target:target,
              formData: formData
            }),
            success: function(response) {
              formBuilder.actions.clearFields();
              $('#title-form').val('');
              showMessage(response.message, -1, "#4fbe87");
              setTimeout(() => {
                window.location.href = "/assistances";
              }, 1000); // 3 second delay before redirect
              //console.log('Form data saved successfully:', response);
              // Handle success response here if needed
            },
            error: function(xhr, status, error) {
              loaderContainer.classList.remove('flex');
              loaderContainer.classList.add('d-none');
              showMessage(error, -1, "#dc3545");
              //console.error('Error saving form data:', error);
              // Handle error response here if needed
            }
          });




        },
        controlOrder: [
          'header',
          'paragraph',
          'text',
          'textarea',
          'number',
          'select',
          'checkbox-group',
          'radio-group',
          'date',
          'file',
          'button'
        ],
         defaultFields: formDataggg,



      });
    });
  </script>



</body>

</html>