<!DOCTYPE html>
<html lang="en">

<%- include('./commun/head') %>
<style>
  #build-wrap {
    padding: 0;
    margin: 10px 0;
    background: #f2f2f2 url('https://formbuilder.online/assets/img/noise.png');
    color: black;
  }

  #build-wrap .form-group label {
    color: black;
  }

  /* Preloader  */
  .The-loader-container-form {
    margin: 0;
    padding: 0;
    background-color: white;
    position: fixed;
    z-index: 9999999;
    inset: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }



  @keyframes pulse {
    50% {
      transform: scale(1.5);
    }
  }
</style>
<link rel="stylesheet" href="assets/extensions/toastify-js/src/toastify.css">

<body>
  <script nonce="<%= nonce %>" src="assets/static/js/initTheme.js"></script>
  <div id="app">
    <%- include('./partials/sidebar') %>
    <div id="main">
      <%- include('./partials/header') %>

      <div class="page-heading">
        <div class="page-title">
          <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
              <h3>Créer un formulaire</h3>
<!--               <p class="text-subtitle text-muted">Upload and publish new video, Youtube and Local, content on the
                website or platform.</p> -->
            </div>

            <div class="col-12 col-md-6 order-md-2 order-first">
              <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/dashhome">Tableau de bord</a></li>
                  <li class="breadcrumb-item active">Formulaire</li>
                  <li class="breadcrumb-item active" aria-current="page">Créer un formulaire</li>
                </ol>
              </nav>
            </div>

          </div>
        </div>

        <section class="section">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="form-group  mandatory">
                    <label for="title-form" class="form-label">Titre</label>
                    <input type="text" id="title-form" class="form-control" placeholder="title" name="title-form" data-parsley-required="true">
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group  mandatory">
                    <div class="input-group mb-3">
                      <label class="input-group-text" for="inputGroupSelect01">Cible</label>
                      <select class="form-select" id="inputGroupSelect01" name="target">
                        <option value="public" selected>Publique</option>
                        <option value="team">Équipe</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <div id="build-wrap"></div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>



      <%- include('./partials/footer') %>
    </div>
  </div>
  <div class="The-loader-container-form d-none flex-column">
    <img src="/images/formloader-oval.svg" class="mb-5" style="width: 5rem" alt="loader form">
    <div>
      <p class="fw-bold">Votre demande est en cours de traitement...</p>
    </div>
  </div>


  <%- include('./commun/scripts') %>
  <script nonce="<%= nonce %>" src="plugin/jquery-ui/jquery-ui.min.js"></script>
  <script nonce="<%= nonce %>" src="plugin/form-builder/form-builder.min.js"></script>
  <script nonce="<%= nonce %>" src="assets/extensions/toastify-js/src/toastify.js"></script>

  <!--   <script nonce="<%= nonce %>" src="https://formbuilder.online/assets/js/form-builder.min.js"></script> -->
  <!--   <script nonce="<%= nonce %>" >
    jQuery($ => {
      const fbTemplate = document.getElementById('build-wrap');
      $(fbTemplate).formBuilder();
    });
  </script> -->

  <script nonce="<%= nonce %>" src="pages/jsca.js"></script>



</body>

</html>