<!DOCTYPE html>
<html lang="en">

<%- include('./commun/head') %>
<style>
  #build-wrap {
    padding: 0;
    margin: 10px 0;
    background: #f2f2f2 url('https://formbuilder.online/assets/img/noise.png');
    color: black;
  }
  #build-wrap .form-group label{
    color: black;
  }
</style>
<link rel="stylesheet" href="assets/extensions/toastify-js/src/toastify.css">

<body>
  <script src="assets/static/js/initTheme.js"></script>
  <div id="app">
    <%- include('./partials/sidebar') %>
    <div id="main">
      <%- include('./partials/header') %>

      <div class="page-heading">
        <div class="page-title">
          <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
              <h3>Create Form</h3>
              <p class="text-subtitle text-muted">Upload and publish new video, Youtube and Local, content on the
                website or platform.</p>
            </div>

            <div class="col-12 col-md-6 order-md-2 order-first">
              <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/dashhome">Dashboard</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Add Video
                  </li>
                </ol>
              </nav>
            </div>

          </div>
        </div>

        <section class="section">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="form-group  mandatory">
                    <label for="title-form" class="form-label">Title</label>
                    <input type="text" id="title-form" class="form-control" placeholder="title"  name="title-form" data-parsley-required="true">
                  </div>
                </div>
                <div class="col-12">
                  <div id="build-wrap"></div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>



      <%- include('./partials/footer') %>
    </div>
  </div>


  <%- include('./commun/scripts') %>
  <script src="plugin/jquery-ui/jquery-ui.min.js"></script>
  <script src="plugin/form-builder/form-builder.min.js"></script>
  <script src="assets/extensions/toastify-js/src/toastify.js"></script>
  <!--   <script>
    jQuery($ => {
      const fbTemplate = document.getElementById('build-wrap');
      $(fbTemplate).formBuilder();
    });
  </script> -->
  <script>
    var formDataggg = [{
      "type": "header",
      "subtype": "h1",
      "label": "Header"
    }, {
      "type": "paragraph",
      "subtype": "p",
      "label": "Paragraph"
    }, {
      "type": "text",
      "required": true,
      "label": "Text Field",
      "description": "777",
      "placeholder": "777",
      "className": "form-control",
      "name": "text-1718202295546-0",
      "value": "777",
      "subtype": "text",
      "maxlength": 7
    }, {
      "type": "textarea",
      "required": true,
      "label": "Text Area",
      "description": "88",
      "placeholder": "888",
      "className": "form-control",
      "name": "textarea-1718202346218-0",
      "value": "888",
      "subtype": "textarea",
      "maxlength": 5,
      "rows": 5
    }, {
      "type": "number",
      "required": false,
      "label": "Number",
      "description": "77",
      "placeholder": "77",
      "className": "form-control",
      "name": "number-1718202392330-0",
      "value": "77",
      "subtype": "number",
      "min": 2,
      "max": 5,
      "step": 2
    }, {
      "type": "select",
      "required": true,
      "label": "Select",
      "description": "999",
      "placeholder": "999",
      "className": "form-control",
      "name": "select-1718202426740-0",
      "multiple": true,
      "values": [{
        "label": "Option 1",
        "value": "option-1",
        "selected": true
      }, {
        "label": "Option 2",
        "value": "option-2",
        "selected": false
      }]
    }, {
      "type": "checkbox-group",
      "required": true,
      "label": "Checkbox Group",
      "description": "999",
      "toggle": true,
      "inline": true,
      "name": "checkbox-group-1718202457242-0",
      "other": true,
      "values": [{
        "label": "Option 1",
        "value": "option-1",
        "selected": true
      }, {
        "label": "Option 2",
        "value": "option-2",
        "selected": false
      }]
    }, {
      "type": "radio-group",
      "required": true,
      "label": "Radio Group",
      "description": "rr",
      "inline": true,
      "name": "radio-group-1718202512050-0",
      "other": true,
      "values": [{
        "label": "Option 1",
        "value": "option-1",
        "selected": true
      }, {
        "label": "Option 2",
        "value": "option-2",
        "selected": false
      }, {
        "label": "Option 3",
        "value": "option-3",
        "selected": false
      }]
    }, {
      "type": "date",
      "required": true,
      "label": "Date Field",
      "description": "pp",
      "placeholder": "pp",
      "className": "form-control",
      "name": "date-1718202531802-0",
      "value": "55",
      "subtype": "date",
      "min": "55",
      "max": "555",
      "step": "5"
    }, {
      "type": "file",
      "required": true,
      "label": "File Upload",
      "description": "777",
      "placeholder": "777",
      "className": "form-control",
      "name": "file-1718202558547-0",
      "multiple": true
    }, {
      "type": "autocomplete",
      "required": true,
      "label": "Autocomplete",
      "description": "pppp",
      "placeholder": "pppp",
      "className": "form-control",
      "name": "autocomplete-1718202590236-0",
      "requireValidOption": true,
      "values": [{
        "label": "Option 1",
        "value": "option-1",
        "selected": true
      }, {
        "label": "Option 2",
        "value": "option-2",
        "selected": false
      }]
    }, {
      "type": "hidden",
      "name": "hidden-1718202622045-0",
      "value": "pppppp"
    }, {
      "type": "button",
      "subtype": "submit",
      "label": "Button",
      "className": "btn-primary btn",
      "name": "button-1718202572866-0",
      "value": "pp",
      "style": "primary"
    }]

    function showMessage(msg, duration, color) {
      Toastify({
        text: msg,
        close: true,
        duration: duration,
        gravity: "bottom",
        position: "right",
        backgroundColor: color,
      }).showToast()
    }
    // Wait for the document to be fully loaded
    $(document).ready(() => {
      const fbTemplate = $('#build-wrap');
      const formBuilder = fbTemplate.formBuilder({
        controlPosition: 'left',
        disabledActionButtons: ['data'],
        disabledAttrs: ["className", "name", "access"],
        onSave: function(evt, formData) {
          const titleForm = $('#title-form').val();



          $.ajax({
            url: '/createassistance/saveFormData',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
              title: titleForm,
              formData: formData
            }),
            success: function(response) {
              formBuilder.actions.clearFields();
              $('#title-form').val('');
              showMessage(response.message, -1, "#4fbe87");
              setTimeout(() => {
                    window.location.href = "/assistances";
                }, 1000); // 3 second delay before redirect
              //console.log('Form data saved successfully:', response);
              // Handle success response here if needed
            },
            error: function(xhr, status, error) {
              showMessage(error, -1, "#dc3545");
              //console.error('Error saving form data:', error);
              // Handle error response here if needed
            }
          });




        },
        controlOrder: [
          'header',
          'paragraph',
          'text',
          'textarea',
          'number',
          'select',
          'checkbox-group',
          'radio-group',
          'date',
          'file',
          'button'
        ],
                 /* defaultFields:formDataggg
                              ,   */



      });
    });
  </script>



</body>

</html>