<!DOCTYPE html>
<html lang="en">

<%- include('./commun/head') %>
<link rel="stylesheet" href="assets/extensions/summernote/summernote-lite.css">
<link rel="stylesheet" href="./assets/compiled/css/form-editor-summernote.css">
<link rel="stylesheet" href="assets/extensions/filepond/filepond.css">
<link rel="stylesheet" href="assets/extensions/toastify-js/src/toastify.css">

<body>
  <script src="assets/static/js/initTheme.js"></script>
  <div id="app">
    <%- include('./partials/sidebar') %>
    <div id="main">
      <%- include('./partials/header') %>
      <div class="page-heading">
        <div class="page-title">
          <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
              <h3>Send Email </h3>
              <p class="text-subtitle text-muted">Sending an email for all followers.</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
              <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/dashhome">Dashboard</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Mailbox</li>
                  <li class="breadcrumb-item active" aria-current="page">Send Email</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
        <section class="section">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Email Informations:</h4>
                </div>
                <form id="emailForm" action="emailcreator" method="POST" enctype="multipart/form-data" class="card-body">
                  <section id="basic-horizontal-layouts">
                    <div class="row match-height">
                      <div class="col-md-6 col-12">
                        <div class="card">
                          <div class="card-content">
                            <div class="card-body">


                              <div class="row">
                                <div class="col-md-2">
                                  <label for="dest">To</label>
                                </div>
                                <div class="col-md-6 form-group">
                                  <input type="text" class="form-control" placeholder="All emails in database" disabled>
                                </div>
                                <div></div>

                                <div class="col-md-2">
                                  <label for="subject">Subject: </label>
                                </div>
                                <div class="col-md-10 form-group">
                                  <input type="text" id="subject" class="form-control" name="subject">
                                </div>

                              </div>



                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <div id="summernote"></div>

                  <div class="col-12 col-md-12">
                    <div class="card">
                      <div class="card-header">
                        <h5 class="card-title">Attachements:</h5>
                      </div>
                      <div class="card-content">
                        <div class="card-body">
                          <!-- File uploader with multiple files upload -->
                          <div class="filepond--root multiple-files-filepond filepond--hopper" data-style-button-remove-item-position="left" data-style-button-process-item-position="right" data-style-load-indicator-position="right" data-style-progress-indicator-position="right" data-style-button-remove-item-align="false" style="height: 76px;"><input class="filepond--browser" type="file" id="filepond--browser-9envpi0l2" aria-controls="filepond--assistant-9envpi0l2" aria-labelledby="filepond--drop-label-9envpi0l2" accept="" multiple="" name="filepond">
                            <div class="filepond--drop-label" style="transform: translate3d(0px, 0px, 0px); opacity: 1;"><label for="filepond--browser-9envpi0l2" id="filepond--drop-label-9envpi0l2" aria-hidden="true">Drag &amp; Drop your files or <span class="filepond--label-action" tabindex="0">Browse</span></label></div>
                            <div class="filepond--list-scroller" style="transform: translate3d(0px, 60px, 0px);">
                              <ul class="filepond--list" role="list"></ul>
                            </div>
                            <div class="filepond--panel filepond--panel-root" data-scalable="true">
                              <div class="filepond--panel-top filepond--panel-root"></div>
                              <div class="filepond--panel-center filepond--panel-root" style="transform: translate3d(0px, 8px, 0px) scale3d(1, 0.6, 1);"></div>
                              <div class="filepond--panel-bottom filepond--panel-root" style="transform: translate3d(0px, 68px, 0px);"></div>
                            </div><span class="filepond--assistant" id="filepond--assistant-9envpi0l2" role="status" aria-live="polite" aria-relevant="additions"></span>
                            <fieldset class="filepond--data"></fieldset>
                            <div class="filepond--drip"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 d-flex justify-content-end">
                    <button id="submit-button" type="submit" class="btn btn-primary me-1 mb-1">Send Email</button>
                  </div>


                </form>
              </div>
            </div>
          </div>
        </section>
      </div>





      <%- include('./partials/footer') %>
    </div>
  </div>


  <%- include('./commun/scripts') %>
  <script src="assets/extensions/filepond-plugin-file-validate-size/filepond-plugin-file-validate-size.min.js"></script>
  <script src="assets/extensions/filepond-plugin-file-validate-type/filepond-plugin-file-validate-type.min.js"></script>
  <script src="assets/extensions/filepond/filepond.js"></script>
  <script src="assets/extensions/summernote/summernote-lite.min.js"></script>
  <script>
    $('#summernote').summernote({
      height: 350,
      fontSizes: ['8', '9', '10', '11', '12', '14', '18', '24', '36'],
      styleTags: [
        'p',
        {
          title: 'Blockquote',
          tag: 'blockquote',
          className: 'blockquote',
          value: 'blockquote'
        },
        'pre', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6'
      ],
      toolbar: [
        ['style', ['style']],
        ['font', ['bold', 'underline', 'italic', 'strikethrough', 'superscript', 'subscript', 'clear']],
        ['fontname', ['fontname']],
        ['fontsize', ['fontsize']],
        ['color', ['color']],
        ['para', ['ul', 'ol', 'paragraph']],
        ['insert', ['ltr', 'rtl']],
        ['height', ['height']],
        ['table', ['table']],
        ['insert', ['link', 'picture', 'video', 'hr']],
        ['misc', ['emoji']],
        ['view', ['fullscreen', 'undo', 'redo', 'codeview', 'help']]
      ],
    });
  </script>

  <script src="assets/extensions/toastify-js/src/toastify.js"></script>
  <script>
    function viderInputs() {
      // Sélectionnez tous les champs de formulaire que vous souhaitez vider
      var inputsToClear = document.querySelectorAll('input[type=text]');

      // Parcourez chaque champ de formulaire et réinitialisez sa valeur à une chaîne vide
      inputsToClear.forEach(function(input) {
        input.value = '';
      });


      pond.removeFiles();

      // Si vous utilisez un éditeur WYSIWYG comme Summernote, vous devrez peut-être également le vider
      $('#summernote').summernote('code', ''); // Utilisez votre ID Summernote ici
    }


    function showMessage(msg, duration, color) {
      Toastify({
        text: msg,
        close: true,
        duration: duration,
        gravity: "bottom",
        position: "right",
        backgroundColor: color,
      }).showToast()
    }
    // Filepond: Multiple Files
    var pond = FilePond.create(document.querySelector(".multiple-files-filepond"), {
      credits: null,
      allowImagePreview: false,
      allowMultiple: true,
      allowFileEncode: false,
      required: false,
      storeAsFile: true,
    })


    $(document).ready(function() {
      $('#emailForm').submit(function(e) {
        e.preventDefault(); // Prevent the default form submission
        // Disable the submit button and show loading text
        $('#submit-button').prop('disabled', true).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Sending...');


        var summernoteHTML = $('#summernote').summernote('code');
        //console.log(summernoteHTML);

        // Get files from FilePond instance
        const files = pond.getFiles();

        // Create FormData object and append files to it
        const formData = new FormData(this);
        files.forEach(file => {
          formData.append('filepond', file.file);
        });

        formData.append('summernote', summernoteHTML);

        // Send AJAX request
        $.ajax({
          type: 'POST',
          url: '/emailcreator', // The URL to your Express route
          data: formData,
          processData: false,
          contentType: false,
          success: function(response) {
            //console.log(response);
            // Re-enable the submit button after 1 second
            setTimeout(function() {
              viderInputs();
              showMessage(response, -1, "#4fbe87");
              $('#submit-button').prop('disabled', false).html('Send Email');
            }, 1000);




          },
          error: function(xhr, status, error) {
            console.error(error);
            showMessage(error, -1, "#dc3545");
            // Re-enable the submit button
            $('#submit-button').prop('disabled', false).html('Send Email');
          }
        });
      });
    });
  </script>





</body>

</html>