<!DOCTYPE html>
<html lang="en">

<%- include('./commun/head') %>
<link rel="stylesheet" href="assets/extensions/summernote/summernote-lite.css">
<link rel="stylesheet" href="./assets/compiled/css/form-editor-summernote.css">
<link rel="stylesheet" href="assets/extensions/filepond/filepond.css">
<link rel="stylesheet" href="assets/extensions/toastify-js/src/toastify.css">

<body>
  <script nonce="<%= nonce %>" src="assets/static/js/initTheme.js"></script>
  <div id="app">
    <%- include('./partials/sidebar') %>
    <div id="main">
      <%- include('./partials/header') %>
      <div class="page-heading">
        <div class="page-title">
          <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
              <h3>Envoyer un e-mail </h3>
              <p class="text-subtitle text-muted">Envoi d'un email pour tous les abonnés.</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
              <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/dashhome">Tableau de bord</a></li>
                  <li class="breadcrumb-item active">Boîte email</li>
                  <li class="breadcrumb-item active" aria-current="page">Envoyer un e-mail</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
        <section class="section">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Informations par e-mail :</h4>
                </div>
                <form id="emailForm" action="emailcreator" method="POST" enctype="multipart/form-data" class="card-body">
                  <section id="basic-horizontal-layouts">
                    <div class="row match-height">
                      <div class="col-md-6 col-12">
                        <div class="card">
                          <div class="card-content">
                            <div class="card-body">


                              <div class="row">
                                <div class="col-md-2">
                                  <label for="dest">À:</label>
                                </div>
                                <div class="col-md-6 form-group">
                                  <input type="text" class="form-control" placeholder="Tous les e-mails dans la base de données" disabled>
                                </div>
                                <div></div>

                                <div class="col-md-2">
                                  <label for="subject">Sujet:</label>
                                </div>
                                <div class="col-md-10 form-group">
                                  <input type="text" id="subject" class="form-control" name="subject">
                                </div>

                              </div>



                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <div id="summernote"></div>

                  <div class="col-12 col-md-12">
                    <div class="card">
                      <div class="card-header">
                        <h5 class="card-title">Pièces jointes:</h5>
                      </div>
                      <div class="card-content">
                        <div class="card-body">
                          <!-- File uploader with multiple files upload -->
                          <div class="filepond--root multiple-files-filepond filepond--hopper" data-style-button-remove-item-position="left" data-style-button-process-item-position="right" data-style-load-indicator-position="right" data-style-progress-indicator-position="right" data-style-button-remove-item-align="false" style="height: 76px;"><input class="filepond--browser" type="file" id="filepond--browser-9envpi0l2" aria-controls="filepond--assistant-9envpi0l2" aria-labelledby="filepond--drop-label-9envpi0l2" accept="" multiple="" name="filepond">
                            <div class="filepond--drop-label" style="transform: translate3d(0px, 0px, 0px); opacity: 1;"><label for="filepond--browser-9envpi0l2" id="filepond--drop-label-9envpi0l2" aria-hidden="true">Drag &amp; Drop your files or <span class="filepond--label-action" tabindex="0">Browse</span></label></div>
                            <div class="filepond--list-scroller" style="transform: translate3d(0px, 60px, 0px);">
                              <ul class="filepond--list" role="list"></ul>
                            </div>
                            <div class="filepond--panel filepond--panel-root" data-scalable="true">
                              <div class="filepond--panel-top filepond--panel-root"></div>
                              <div class="filepond--panel-center filepond--panel-root" style="transform: translate3d(0px, 8px, 0px) scale3d(1, 0.6, 1);"></div>
                              <div class="filepond--panel-bottom filepond--panel-root" style="transform: translate3d(0px, 68px, 0px);"></div>
                            </div><span class="filepond--assistant" id="filepond--assistant-9envpi0l2" role="status" aria-live="polite" aria-relevant="additions"></span>
                            <fieldset class="filepond--data"></fieldset>
                            <div class="filepond--drip"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 d-flex justify-content-end">
                    <button id="submit-button" type="submit" class="btn btn-primary me-1 mb-1">Send Email</button>
                  </div>


                </form>
              </div>
            </div>
          </div>
        </section>
      </div>





      <%- include('./partials/footer') %>
    </div>
  </div>


  <%- include('./commun/scripts') %>
  <script nonce="<%= nonce %>" src="assets/extensions/filepond-plugin-file-validate-size/filepond-plugin-file-validate-size.min.js"></script>
  <script nonce="<%= nonce %>" src="assets/extensions/filepond-plugin-file-validate-type/filepond-plugin-file-validate-type.min.js"></script>
  <script nonce="<%= nonce %>" src="assets/extensions/filepond/filepond.js"></script>
  <script nonce="<%= nonce %>" src="assets/extensions/summernote/summernote-lite.min.js"></script>
  <script nonce="<%= nonce %>" src="assets/extensions/toastify-js/src/toastify.js"></script>
  <script nonce="<%= nonce %>" src="pages/jsec.js"></script>





</body>

</html>