<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jasser Hachaichi">
    <title>
      Dashboard
    </title>
    <link rel="icon" href="images/CTicon.png">
    <link rel="shortcut" href="images/CTicon.png">
    <link rel="apple-touche-icon" href="images/CTicon.png">
    <link rel="stylesheet" href="css/colors.css">
    <%- include('./../commun/loader') %>
  <!-- SITE CSS FILES -->
  <link rel="stylesheet" href="assets/compiled/css/app.css">
  <link rel="stylesheet" href="assets/compiled/css/iconly.css">

</head>

<body>
  <section class=" my-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8">
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <p class="card-text">Bienvenu <strong><%= visitorName %> </strong>(<%= visitorEmail %>)</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>

  <section id="formsection" form-id-data="<%= formId %>" class="section min-vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-8">
          <form id="form-render" action="/form/answer/<%= formId %>" method="post" enctype="multipart/form-data"></form>
        </div>
      </div>
    </div>
  </section>

<!--   <div class="The-loader-container-form d-none flex-column">
    <img src="/images/formloader-oval.svg" class="mb-5" style="width: 5rem" alt="loader form">
    <div>
      <p class="fw-bold">Votre demande est en cours de traitement...</p>
    </div>
  </div> -->

  <script src="assets/extensions/jquery/jquery.min.js"></script>
  <script src="plugin/form-builder/form-render.min.js"></script>
  <script>
    $(document).ready(async function() {
      const formDataId = document.getElementById('formsection').getAttribute("form-id-data");
      
      try {
        const response = await fetch(`/form/formData/${formDataId}`);
        if (!response.ok) {
          throw new Error('Failed to retrieve form data');
        }
        const formData = await response.json();
        // Render form
        $('#form-render').formRender({
          formData: formData.Data
        });
      } catch (error) {
        console.error('Error retrieving form data:', error);
      }
    });
  </script>
<!-- <script>
  document.querySelector('button[type="submit"]').addEventListener('click', function() {
    const loaderContainer = document.querySelector('.The-loader-container-form');
    loaderContainer.classList.remove('d-none');
    loaderContainer.classList.add('d-flex');
  });
</script> -->
</body>

</html>
