<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="./assets/compiled/css/application-email.css">

<%- include('./commun/head') %>


<body>
  <script src="assets/static/js/initTheme.js"></script>
  <div id="app">
    <%- include('./partials/sidebar') %>
    <div id="main">
      <%- include('./partials/header') %>

      <div class="page-heading email-application overflow-hidden">
        <div class="page-title">
          <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
              <h3>Email Inbox</h3>
              <p class="text-subtitle text-muted">A digital storage space where received emails.</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
              <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/dashhome">Dashboard</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Mailbox</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
        <section class="section content-area-wrapper">
          <div class="content-right">
            <div class="content-overlay"></div>
            <div class="content-wrapper">
              <div class="content-header row">
              </div>
              <div class="content-body">
                <!-- email app overlay -->
                <div class="app-content-overlay"></div>
                <div class="email-app-area">
                  <!-- Email list Area -->
                  <div class="email-app-list-wrapper">
                    <div class="email-app-list">
                      <div class="email-action">
                        <!-- action right start here -->
                        <div class="action-right d-flex flex-grow-1 align-items-center justify-content-around">
                          <!-- search bar  -->
                          <form class="email-fixed-search flex-grow-1" action="/emailbox" method="GET">
                            <div class="form-group position-relative  mb-0 has-icon-left d-flex">
                              <input type="text" class="form-control" placeholder="Search email.." name="search">
                              <div class="form-control-icon">
                                <svg class="bi" width="1.5em" height="1.5em" fill="currentColor">
                                  <use xlink:href="assets/static/images/bootstrap-icons.svg#search" />
                                </svg>
                              </div>
                              <button type="submit" class="btn icon btn-primary">Search</button>
                            </div>
                          </form>

                          <!-- pagination and page count -->
                          <% const totalPages = Math.ceil(totalCount / perPage); %>
                          <span class="d-none d-sm-block"><%= (currentPage - 1) * perPage + 1 %>-<%= (currentPage * perPage) > totalCount ? totalCount : (currentPage * perPage) %> of <%= totalCount %></span>
                          <% if (currentPage > 1) { %>
                          <a href="?page=<%= currentPage - 1 === 0 ? totalPages : currentPage - 1 %>" class="btn btn-icon email-pagination-prev action-button d-none d-sm-block">
                            <svg class="bi" width="1.5em" height="1.5em" fill="currentColor">
                              <use xlink:href="assets/static/images/bootstrap-icons.svg#chevron-left" />
                            </svg>
                          </a>
                          <% } %>

                          <% if (emails.length === perPage) { %>
                          <a href="?page=<%= currentPage + 1 > totalPages ? 1 : currentPage + 1 %>" class="btn btn-icon email-pagination-next action-button d-none d-sm-block">
                            <svg class="bi" width="1.5em" height="1.5em" fill="currentColor">
                              <use xlink:href="assets/static/images/bootstrap-icons.svg#chevron-right" />
                            </svg>
                          </a>
                          <% } %>


                        </div>
                      </div>
                      <!-- / action right -->

                      <!-- email user list start -->
                      <div class="email-user-list list-group ps ps--active-y">
                        <% if (emails.length > 0) { %>
                        <ul class="users-list-wrapper media-list">
                          <% emails.forEach((email) => { %>
                            <a href="/email/?id=<%= email._id %>">
                              <li class="media <%= email.isOpen ? '' : 'mail-read' %>">
                                <div class="user-action">
                                  <form action="/emailbox/<%= email._id %>?_method=DELETE" method="POST" class="me-3">
                                    <button type="submit" class="btn icon btn-danger">
                                      <span class="fonticon-wrap">
                                        <svg class="bi" width="1.5em" height="1.5em" fill="currentColor">
                                          <use xlink:href="assets/static/images/bootstrap-icons.svg#trash"></use>
                                        </svg>
                                      </span>
                                    </button>
                                  </form>
                                </div>
                                <div class="pr-50">
                                  <div class="avatar">
                                    <img src="images/Default-profile.jpg" alt="avtar img holder">
                                  </div>
                                </div>
                                <div class="media-body">
                                  <div class="user-details">
                                    <div class="mail-items">
                                      <span class="list-group-item-text text-truncate"><%= email.subject %></span>
                                    </div>
                                    <div class="mail-meta-item">
                                      <span class="float-right">
                                        <% const createdAt = new Date(email.createdAt); %>
                                        <span class="mail-date"><%= createdAt.getDate() %>/<%= createdAt.getMonth() + 1 %>/<%= createdAt.getFullYear() %> <%= createdAt.getHours() %>:<%= createdAt.getMinutes() %></span>
                                      </span>
                                    </div>
                                  </div>
                                  <div class="mail-message">
                                    <p class="list-group-item-text truncate mb-0"><%= email.message.slice(-80) + '...' %></p>
                                    <div class="mail-meta-item">
                                      <span class="float-right">
                                        <% if (email.attachments && email.attachments.length > 0) { %>
                                        <i class="bi bi-paperclip me-3"></i>
                                        <span class="bullet bullet-success bullet-sm"></span>
                                        <% } %>
                                      </span>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </a>

                          <% }) %>


                        </ul>
                        <!-- email user list end -->
                        <% } else { %>
                        <!-- no result when nothing to show on list -->
                        <div class="no-results">
                          <i class="bi bi-error-circle font-large-2"></i>
                          <h5>No Items Found</h5>
                        </div>
                        <% } %>

                      </div>
                    </div>
                  </div>
                  <!--/ Email list Area -->


                </div>
              </div>
            </div>
          </div>
        </section>
      </div>



      <%- include('./partials/footer') %>
    </div>
  </div>


  <%- include('./commun/scripts') %>






</body>

</html>