<!DOCTYPE html>
<html lang="en">
<%- include('./commun/head') %>
<link rel="stylesheet" href="./assets/compiled/css/auth.css">

<body>
  <script nonce="<%= nonce %>" src="assets/static/js/initTheme.js"></script>
  <div id="auth">

    <div class="row h-100">
      <div class="col-lg-5 col-12">
        <div id="auth-left">
          <div class="auth-logo">
            <a href="/home"><img src="/images/dashboard-logo.svg" alt="Logo"></a>
          </div>
          <h1 class="auth-title">Se connecter.</h1>
          <p class="auth-subtitle mb-5">L'accès est exclusif aux administrateurs du site uniquement</p>
          <div id="allalerts"></div>

          <form id="loginForm" action="/login/verif" method="post" data-parsley-validate>



            <div class="form-group position-relative has-icon-left mb-4">
              <input type="email" name="email" class="form-control form-control-xl" data-parsley-trigger="change" data-parsley-required="true" placeholder="Email">
              <div class="form-control-icon">
                <i class="bi bi-person"></i>
              </div>
            </div>





            <div class="form-group position-relative has-icon-left mb-4">
              <input type="password" name="password" class="form-control form-control-xl" data-parsley-trigger="change" data-parsley-minlength="8" data-parsley-required="true" data-parsley-pattern="^(?=.*[0-9])(?=.*[a-zA-Z])(?=.*[@#$%^&+=]).{8,}$" data-parsley-error-message="Le mot de passe doit contenir au moins 8 caractères avec au moins un chiffre, une lettre et un caractère spécial @#$%^&+= ." placeholder="Password">
              <div class="form-control-icon">
                <i class="bi bi-shield-lock"></i>
              </div>
            </div>




            <div class="form-check form-check-lg d-flex align-items-end">
              <input class="form-check-input me-2" type="checkbox" name="checkboxinput" id="flexCheckDefault" checked>
              <label class="form-check-label text-gray-600" for="flexCheckDefault">
                Rester connecté
              </label>
            </div>
            <button id="submit-button" type="submit" class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Se connecter</button>
          </form>
        </div>
      </div>
      <div class="col-lg-7 d-none d-lg-block">
        <div id="auth-right">

        </div>
      </div>
    </div>

  </div>
  <%- include('./commun/scripts') %>
  <!--   cookie consent plugin -->
  <script nonce="<%= nonce %>" src="/plugin/cookie-consent/bootstrap-cookie-consent-settings.js"></script>
  <script nonce="<%= nonce %>">
    var cookieSettings = new BootstrapCookieConsentSettings({
      privacyPolicyUrl: "/termsofuse",
      legalNoticeUrl: "/termsofuse",
    })
    document.getElementById("editpolicy").addEventListener("click", function() {
      cookieSettings.showDialog();
    });
  </script>
  <script nonce="<%= nonce %>" src="assets/extensions/parsleyjs/parsley.min.js"></script>
  <script nonce="<%= nonce %>" src="assets/static/js/pages/parsley.js"></script>
  <script nonce="<%= nonce %>" src="pages/jsl.js"></script>
</body>

</html>