<!DOCTYPE html>
<html lang="en">

<%- include('./commun/head') %>

<body>
  <script nonce="<%= nonce %>"  src="assets/static/js/initTheme.js"></script>
  <div id="app">
    <%- include('./partials/sidebar') %>
    <div id="main">
      <%- include('./partials/header') %>

      <div class="page-heading">
        <div class="page-title">
          <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
              <h3>Équipe Formulaires</h3>
              <p class="text-subtitle text-muted">Upload and publish new video, Youtube and Local, content on the
                website or platform.</p>
            </div>

            <div class="col-12 col-md-6 order-md-2 order-first">
              <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/dashhome">Dashboard</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Add Video
                  </li>
                </ol>
              </nav>
            </div>

          </div>
        </div>





        <section>
          <% if (formData && formData.length > 0) { %>
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <form action="/assistances" method="GET" class="container">
                    <div class="col-8 mx-auto">
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" name="search" placeholder="Recherche..." aria-label="Recherche..." aria-describedby="button-addon2" value="<%= search || '' %>">
                        <button class="btn btn-primary" type="submit">Recherche</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <% formData.forEach(form => { %>
            <div class="col-12">
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <h3 class="card-title"><%= form.titleForm %></h3>
                    <div>
                      <a class="btn btn-primary" href="/form/<%= form._id %>">Voir</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% }); %>
          </div>
          <div class="row">
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-primary justify-content-center">
                <% if (currentPage > 1) { %>
                <li class="page-item">
                  <a class="page-link" href="?page=<%= currentPage - 1 %>&search=<%= search %>">Previous</a>
                </li>
                <% } %>
                <% for (let i = 1; i <= totalPages; i++) { %>
                <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                  <a class="page-link" href="?page=<%= i %>&search=<%= search %>"><%= i %></a>
                </li>
                <% } %>
                <% if (currentPage < totalPages) { %>
                <li class="page-item">
                  <a class="page-link" href="?page=<%= currentPage + 1 %>&search=<%= search %>">Next</a>
                </li>
                <% } %>
              </ul>
            </nav>
          </div>
          <% } else { %>
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-content">
                    <div class="card-body">
                      <p class="card-text"> Aucune formulaire d'équipe disponible</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% } %>

        </section>

      </div>



      <%- include('./partials/footer') %>
    </div>
  </div>


  <%- include('./commun/scripts') %>


</body>

</html>