<!DOCTYPE html>
<html lang="en">
<%- include('./commun/head') %>
<style>
  #blogcards .card-body {
    min-height: initial;
  }

  #blogcards .card-body h4 {
    max-height: 5.4em;
    -webkit-line-clamp: 3;
    /* Limit to 2 lines */
    -webkit-box-orient: vertical;
  }
</style>


<body class="bg-light">
  <%- include('./partials/navbar') %>
  <%- include('./partials/sectionhero', { titre: 'Les annonces' ,bgimage:'/images/cta-image-1.jpg'}) %>

  <section>
    <!--  class="bsb-blog-5 py-3 py-md-5 py-xl-8" -->
    <div class="container">
      <% if (announcements  && announcements.length > 0) { %>
      <form action="/allannouncement" method="GET" class="my-5">
        <div class="row">

          <div class="col-md-3 my-2">
            <select class="form-select" id="sortOrder" name="sortOrder">
              <option value="">Trier par</option>
              <option value="up">Ordre croissant</option>
              <option value="down">Ordre décroissant</option>
            </select>
          </div>
          <div class="col-md-3 my-2">
            <select class="form-select" id="statusFilter" name="statusFilter">
              <option value="">Tous</option>
              <option value="expired">Lex expiré</option>
              <option value="notExpired">Non expiré</option>
            </select>
          </div>
          <div class="col-md-6 my-2">
            <div class="input-group">
              <input class="form-control border-end-0 border" name="search" type="search" placeholder="Recherche..." id="search-input" value="<%= search || '' %>">
              <span class="input-group-append"><button class="btn btn-primary" type="submit">Recherche</button></span>
            </div>
          </div>

        </div>
      </form>


      <div id="blogcards" class="row align-items-lg-center">
        <div class="container2">
          <% 
          // Get the current date
          const currentDate = new Date(); 
        %>
          <% announcements.forEach(announcement => { %>
            <% 
            // Check if the announcement is expired
            const isExpired = new Date(announcement.expiredDate) < currentDate; 
          %>
          <div class="card <%= isExpired ? 'opacity-50' : '' %>">
            <div class="card-header">
              <img src="<%= announcement.path %>" alt="" loading="lazy" />
            </div>
            <div class="card-body">
              <a href="/allannouncement/<%= announcement._id %>">
                <h4><%= announcement.title %></h4>
              </a>
              <div class="w-100 user justify-content-between align-items-center ">
                <div class="user-info">
                  <h5>Créé à</h5>
                  <small><%= announcement.createdAt.toDateString()  %></small>
                </div>
                <div class="vertical-line"></div>
                <div class="user-info">
                  <h5>Expiré le</h5>
                  <small><%= announcement.expiredDate.toDateString() %></small>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>

      <div class="row mt-4 pt-2">
        <!-- Pagination Links -->
        <nav aria-label="Page navigation example">
          <ul class="pagination pagination-primary  justify-content-center">
            <% if (currentPage > 1) { %>
            <li class="page-item">
              <a class="page-link" href="?page=<%= currentPage - 1 %>&search=<%= search %>">Previous</a>
            </li>
            <% } %>
            <% for (let i = 1; i <= totalPages; i++) { %>
            <li class="page-item <%= currentPage === i ? 'active' : '' %>">
              <a class="page-link" href="?page=<%= i %>&search=<%= search %>"><%= i %></a>
            </li>
            <% } %>
            <% if (currentPage < totalPages) { %>
            <li class="page-item">
              <a class="page-link" href="?page=<%= currentPage + 1 %>&search=<%= search %>">Next</a>
            </li>
            <% } %>
          </ul>
        </nav>
      </div>

      <% } else { %>
        <p>Aucune annonce disponible</p>
      <% } %>
    </div>
  </section>




  <%- include('./commun/footer') %>


</body>

</html>