<!DOCTYPE html>
<html lang="en">
<%- include('./commun/head') %>


<body>
  <%- include('./partials/navbar') %>
  <%- include('./partials/sectionhero', { titre: 'Annonce' ,bgimage:'/images/cta-image-1.jpg'}) %>

  <%  function formatDateTime(dateTimeString) {
  const options = {
      year: 'numeric', month: 'long', day: 'numeric',
      hour: 'numeric', minute: 'numeric',
      hour12: true // Use 12-hour format with AM/PM
  };
  return new Date(dateTimeString).toLocaleString('en-US', options);
} %>

  <article class="mb-4">
    <div class="container px-4 px-lg-5">
      <div class="row  gx-4 gx-lg-5 mb-4 justify-content-center">
        <div class="col-lg-12 col-xl-10 border">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title fw-bold"><%= announcement.title %></h2>
              <h5><strong>Posted Date:</strong> <%= formatDateTime(announcement.createdAt) %></h5>
              <h5><strong>Expired Date:</strong> <%= formatDateTime(announcement.expiredDate) %></h5>
              <% if (announcement.appel) { %>
              <h5><strong>Appel au: </strong><%= announcement.appel %></h5>
              <% } %>
            </div>
          </div>
        </div>
      </div>





      <div class="row gx-4 gx-lg-5 mb-4 justify-content-center">
        <div class="col-lg-12 col-xl-10 border py-4">
          <%- announcement.details %>
        </div>
      </div>
      <% if (announcement.attachments && announcement.attachments.length > 0) { %>
      <div class="row gx-4 gx-lg-5 mb-4 justify-content-center">
        <div class="col-lg-12 col-xl-10 border py-4">
          <h5><strong>Attachments:</strong></h5>
          <ul>
            <% announcement.attachments.forEach(function(attachment) { %>
            <li>
              <a href="<%= attachment.path %>" download="<%= attachment.originalname %>">
                <%= attachment.originalname %>
              </a>
            </li>
            <% }) %>
          </ul>
        </div>
      </div>
      <% } %>


      <% if (announcement.formSource) { %>
      <div class="row  gx-4 gx-lg-5 mb-4 justify-content-center">
        <div class="col-lg-12 col-xl-10">
          <div class="card">
            <div class="card-body text-center">
              <a href="<%= announcement.formLink %>" class="btn btn-primary">Postuler Maintenant</a>
            </div>
          </div>
        </div>
      </div>
      <% } %>





    </div>
  </article>



  <%- include('./commun/footer') %>



</body>

</html>