<%- include('./commun/head',{nonce, titre: 'Event',pageTags: event && event.tags != null ?  event.tags :''}) %>
<!-- <script nonce="<%= nonce %>"  0="./plugin/calendar/simplebar.min.js"></script>
<script nonce="<%= nonce %>"  src="./plugin/calendar/config.js"></script> -->

<style>
  :root {
    --phoenix-blue: #3874ff;
    --phoenix-indigo: #6610f2;
    --phoenix-purple: #6f42c1;
    --phoenix-pink: #d63384;
    --phoenix-red: #fa3b1d;
    --phoenix-orange: #e5780b;
    --phoenix-yellow: #ffc107;
    --phoenix-green: #25b003;
    --phoenix-teal: #20c997;
    --phoenix-cyan: #0097eb;
    --phoenix-black: #000000;
    --phoenix-white: #fff;
    --phoenix-gray: #6e7891;
    --phoenix-gray-dark: #141824;
    --phoenix-gray-50: #f5f7fa;
    --phoenix-gray-100: #eff2f6;
    --phoenix-gray-200: #e3e6ed;
    --phoenix-gray-300: #cbd0dd;
    --phoenix-gray-400: #9fa6bc;
    --phoenix-gray-500: #8a94ad;
    --phoenix-gray-600: #6e7891;
    --phoenix-gray-700: #525b75;
    --phoenix-gray-800: #3e465b;
    --phoenix-gray-900: #31374a;
    --phoenix-gray-1000: #222834;
    --phoenix-gray-1100: #141824;
    --phoenix-primary: #3874ff;
    --phoenix-secondary: #31374a;
    --phoenix-success: #25b003;
    --phoenix-info: #0097eb;
    --phoenix-warning: #e5780b;
    --phoenix-danger: #fa3b1d;
    --phoenix-light: #eff2f6;
    --phoenix-dark: #141824;
    --phoenix-primary-rgb: 56, 116, 255;
    --phoenix-secondary-rgb: 49, 55, 74;
    --phoenix-success-rgb: 37, 176, 3;
    --phoenix-info-rgb: 0, 151, 235;
    --phoenix-warning-rgb: 229, 120, 11;
    --phoenix-danger-rgb: 250, 59, 29;
    --phoenix-light-rgb: 239, 242, 246;
    --phoenix-dark-rgb: 20, 24, 36;
    --phoenix-primary-text-emphasis: #003cc7;
    --phoenix-secondary-text-emphasis: #525b75;
    --phoenix-success-text-emphasis: #1c6c09;
    --phoenix-info-text-emphasis: #005585;
    --phoenix-warning-text-emphasis: #bc3803;
    --phoenix-danger-text-emphasis: #b81800;
    --phoenix-light-text-emphasis: #141824;
    --phoenix-dark-text-emphasis: #fff;
    --phoenix-primary-bg-subtle: #e5edff;
    --phoenix-secondary-bg-subtle: #eff2f6;
    --phoenix-success-bg-subtle: #d9fbd0;
    --phoenix-info-bg-subtle: #c7ebff;
    --phoenix-warning-bg-subtle: #ffefca;
    --phoenix-danger-bg-subtle: #ffe0db;
    --phoenix-light-bg-subtle: #f7f9fb;
    --phoenix-dark-bg-subtle: #9fa6bc;
    --phoenix-primary-border-subtle: #85a9ff;
    --phoenix-secondary-border-subtle: #cbd0dd;
    --phoenix-success-border-subtle: #90d67f;
    --phoenix-info-border-subtle: #60c6ff;
    --phoenix-warning-border-subtle: #ffcc85;
    --phoenix-danger-border-subtle: #f48270;
    --phoenix-light-border-subtle: #eff2f6;
    --phoenix-dark-border-subtle: #8a94ad;
    --phoenix-white-rgb: 255, 255, 255;
    --phoenix-black-rgb: 0, 0, 0;
    --phoenix-font-sans-serif: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --phoenix-font-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --phoenix-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --phoenix-body-font-family: var(--phoenix-font-sans-serif);
    --phoenix-body-font-size: 1rem;
    --phoenix-body-font-weight: 400;
    --phoenix-body-line-height: 1.49;
    --phoenix-body-color: #31374a;
    --phoenix-body-color-rgb: 49, 55, 74;
    --phoenix-body-bg: #f5f7fa;
    --phoenix-body-bg-rgb: 245, 247, 250;
    --phoenix-emphasis-color: #141824;
    --phoenix-emphasis-color-rgb: 20, 24, 36;
    --phoenix-secondary-color: #3e465b;
    --phoenix-secondary-color-rgb: 62, 70, 91;
    --phoenix-secondary-bg: #e3e6ed;
    --phoenix-secondary-bg-rgb: 227, 230, 237;
    --phoenix-tertiary-color: #525b75;
    --phoenix-tertiary-color-rgb: 82, 91, 117;
    --phoenix-tertiary-bg: #cbd0dd;
    --phoenix-tertiary-bg-rgb: 203, 208, 221;
    --phoenix-heading-color: var(--phoenix-emphasis-color);
    --phoenix-link-color: #3874ff;
    --phoenix-link-color-rgb: 56, 116, 255;
    --phoenix-link-decoration: none;
    --phoenix-link-hover-color: #003cc7;
    --phoenix-link-hover-color-rgb: 0, 60, 199;
    --phoenix-link-hover-decoration: underline;
    --phoenix-code-color: #d63384;
    --phoenix-highlight-color: #31374a;
    --phoenix-highlight-bg: #fff3cd;
    --phoenix-border-width: 1px;
    --phoenix-border-style: solid;
    --phoenix-border-color: #cbd0dd;
    --phoenix-border-color-translucent: rgba(203, 208, 221, 0.54);
    --phoenix-border-radius: 0.375rem;
    --phoenix-border-radius-sm: 0.25rem;
    --phoenix-border-radius-lg: 0.5rem;
    --phoenix-border-radius-xl: 1rem;
    --phoenix-border-radius-xxl: 2rem;
    --phoenix-border-radius-2xl: var(--phoenix-border-radius-xxl);
    --phoenix-border-radius-pill: 50rem;
    --phoenix-box-shadow: 0px 2px 4px -2px rgba(36, 40, 46, 0.08);
    --phoenix-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --phoenix-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    --phoenix-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    --phoenix-focus-ring-width: 0.25rem;
    --phoenix-focus-ring-opacity: 0.25;
    --phoenix-focus-ring-color: rgba(56, 116, 255, 0.25);
    --phoenix-form-valid-color: #25b003;
    --phoenix-form-valid-border-color: #25b003;
    --phoenix-form-invalid-color: #fa3b1d;
    --phoenix-form-invalid-border-color: #fa3b1d
}

:root {
    --phoenix-scroll-margin-top: 2.5rem;
    --phoenix-navbar-top-height: 4rem;
    --phoenix-navbar-top-menu-margin: 1.5rem
}

:root {
    --phoenix-gray-50-rgb: 245, 247, 250;
    --phoenix-gray-100-rgb: 239, 242, 246;
    --phoenix-gray-200-rgb: 227, 230, 237;
    --phoenix-gray-300-rgb: 203, 208, 221;
    --phoenix-gray-400-rgb: 159, 166, 188;
    --phoenix-gray-500-rgb: 138, 148, 173;
    --phoenix-gray-600-rgb: 110, 120, 145;
    --phoenix-gray-700-rgb: 82, 91, 117;
    --phoenix-gray-800-rgb: 62, 70, 91;
    --phoenix-gray-900-rgb: 49, 55, 74;
    --phoenix-gray-1000-rgb: 34, 40, 52;
    --phoenix-gray-1100-rgb: 20, 24, 36;
    --phoenix-primary-lighter: #adc5ff;
    --phoenix-primary-light: #85a9ff;
    --phoenix-primary-dark: #004dff;
    --phoenix-primary-darker: #003cc7;
    --phoenix-secondary-lighter: #e3e6ed;
    --phoenix-secondary-light: #cbd0dd;
    --phoenix-secondary-dark: #222834;
    --phoenix-secondary-darker: #525b75;
    --phoenix-warning-lighter: #ffe6ad;
    --phoenix-warning-light: #ffcc85;
    --phoenix-warning-dark: #d6630a;
    --phoenix-warning-darker: #bc3803;
    --phoenix-danger-lighter: #fabcb3;
    --phoenix-danger-light: #f48270;
    --phoenix-danger-dark: #cc1b00;
    --phoenix-danger-darker: #b81800;
    --phoenix-success-lighter: #bee8b4;
    --phoenix-success-light: #90d67f;
    --phoenix-success-dark: #23890b;
    --phoenix-success-darker: #1c6c09;
    --phoenix-info-lighter: #96d9ff;
    --phoenix-info-light: #60c6ff;
    --phoenix-info-dark: #0080c7;
    --phoenix-info-darker: #005585;
    --phoenix-primary-lighter-rgb: 173, 197, 255;
    --phoenix-primary-light-rgb: 133, 169, 255;
    --phoenix-primary-dark-rgb: 0, 77, 255;
    --phoenix-primary-darker-rgb: 0, 60, 199;
    --phoenix-secondary-lighter-rgb: 227, 230, 237;
    --phoenix-secondary-light-rgb: 203, 208, 221;
    --phoenix-secondary-dark-rgb: 34, 40, 52;
    --phoenix-secondary-darker-rgb: 82, 91, 117;
    --phoenix-warning-lighter-rgb: 255, 230, 173;
    --phoenix-warning-light-rgb: 255, 204, 133;
    --phoenix-warning-dark-rgb: 214, 99, 10;
    --phoenix-warning-darker-rgb: 188, 56, 3;
    --phoenix-danger-lighter-rgb: 250, 188, 179;
    --phoenix-danger-light-rgb: 244, 130, 112;
    --phoenix-danger-dark-rgb: 204, 27, 0;
    --phoenix-danger-darker-rgb: 184, 24, 0;
    --phoenix-success-lighter-rgb: 190, 232, 180;
    --phoenix-success-light-rgb: 144, 214, 127;
    --phoenix-success-dark-rgb: 35, 137, 11;
    --phoenix-success-darker-rgb: 28, 108, 9;
    --phoenix-info-lighter-rgb: 150, 217, 255;
    --phoenix-info-light-rgb: 96, 198, 255;
    --phoenix-info-dark-rgb: 0, 128, 199;
    --phoenix-info-darker-rgb: 0, 85, 133;
    --phoenix-primary-bg-subtle-rgb: 229, 237, 255;
    --phoenix-quaternary-color: #8a94ad;
    --phoenix-quaternary-color-rgb: 138, 148, 173;
    --phoenix-quaternary-bg: #9fa6bc;
    --phoenix-quaternary-bg-rgb: 159, 166, 188;
    --phoenix-emphasis-bg: #fff;
    --phoenix-emphasis-bg-rgb: 255, 255, 255;
    --phoenix-body-highlight-color: #222834;
    --phoenix-body-highlight-color-rgb: 34, 40, 52;
    --phoenix-body-highlight-bg: #eff2f6;
    --phoenix-body-highlight-bg-rgb: 239, 242, 246;
    --phoenix-border-color-rgb: 203, 208, 221;
    --phoenix-border-color-translucent-rgb: 203, 208, 221;
    --phoenix-input-group-addon-bg-global: #eff2f6;
    --phoenix-dropdown-link-color-global: #525b75;
    --phoenix-dropdown-link-hover-color-global: #292e3b;
    --phoenix-nav-vertical-color-global: #141824;
    --phoenix-scrollbar-bg: rgba(var(--phoenix-quaternary-bg-rgb), 0.55);
    --phoenix-docs-language-bg: #222834;
    --phoenix-navbar-top-link-color: var(--phoenix-body-color);
    --phoenix-navbar-top-menu-bg-color: var(--phoenix-emphasis-bg);
    --phoenix-navbar-top-border-color: #cbd0dd;
    --phoenix-navbar-top-link-hover-color: var(--phoenix-body-highlight-color);
    --phoenix-navbar-top-link-hover-bg: var(--phoenix-body-highlight-bg);
    --phoenix-navbar-top-link-active-color: var(--phoenix-primary);
    --phoenix-navbar-top-dropdown-color: var(--phoenix-body-color);
    --phoenix-navbar-top-dropdown-hover-bg: var(--phoenix-body-highlight-bg);
    --phoenix-dual-nav-border-color: #e3e6ed;
    --phoenix-dual-nav-first-layer-bg: #eff2f6;
    --phoenix-navbar-vertical-border-color: #cbd0dd;
    --phoenix-navbar-vertical-bg-color: var(--phoenix-emphasis-bg);
    --phoenix-navbar-vertical-label-color: #6e7891;
    --phoenix-navbar-vertical-link-color: #525b75;
    --phoenix-navbar-vertical-link-hover-color: #3e465b;
    --phoenix-navbar-vertical-link-hover-bg: #eff2f6;
    --phoenix-navbar-vertical-link-active-color: #3874ff;
    --phoenix-navbar-vertical-link-disable-color: #8a94ad;
    --phoenix-navbar-vertical-width: 15.875rem;
    --phoenix-navbar-vertical-dropdown-indicator-color: #8a94ad;
    --phoenix-navbar-footer-border-color: var(--phoenix-border-color);
    --phoenix-navbar-vertical-hr-color: #e3e6ed;
    --phoenix-navbar-vertical-collapsed-menu-bg: #fff;
    --phoenix-hamburger-menu-color: #6e7891;
    --phoenix-navbar-top-bg-color: var(--phoenix-emphasis-bg);
    --phoenix-btn-hover-border-color: transparent;
    --phoenix-btn-active-border-color: transparent;
    --phoenix-choices-inner-min-height: auto;
    --phoenix-choices-item-has-no-choices-bg: var(--phoenix-emphasis-bg);
    --phoenix-flatpickr-calendar-input-bg: var(--phoenix-emphasis-bg);
    --phoenix-flatpickr-calendar-bg: #e3e6ed;
    --phoenix-flatpickr-current-month-color: #31374a;
    --phoenix-flatpickr-weekday-color: #31374a;
    --phoenix-flatpickr-calendar-day-hover-bg: rgba(var(--phoenix-tertiary-bg-rgb), 0.5);
    --phoenix-flatpickr-weekend-days-color: #e5780b;
    --phoenix-flatpickr-today-color: #fff;
    --phoenix-flatpickr-calendar-day-selected-bg: rgba(var(--phoenix-primary-rgb), 0.2);
    --phoenix-calendar-bg: #e3e6ed;
    --phoenix-calendar-border-color: var(--phoenix-body-bg);
    --phoenix-theme-wizard-nav-item-circle-bg: var(--phoenix-body-highlight-bg);
    --phoenix-theme-wizard-complete-color: #3874ff;
    --phoenix-theme-wizard-active-color: #3874ff;
    --phoenix-tinymce-bg: var(--phoenix-emphasis-bg);
    --phoenix-tinymce-tox-tbtn-enabled-icon-color: var(--phoenix-secondary-color);
    --phoenix-choices-item-bg: var(--phoenix-primary-bg-subtle);
    --phoenix-choices-item-color: var(--phoenix-body-highlight-color);
    --phoenix-avatar-name-color: var(--phoenix-primary-dark);
    --phoenix-logo-text: rgba(var(--phoenix-tertiary-color-rgb), 0.8);
    --phoenix-theme-control-toggle-bg: rgba(255, 204, 133, 0.24);
    --phoenix-theme-control-toggle-hover-bg: var(--phoenix-warning);
    --phoenix-theme-control-toggle-color: var(--phoenix-warning);
    --phoenix-theme-control-toggle-hover-color: #ffefca;
    --phoenix-kanban-bg: #e3e6ed;
    --phoenix-kanban-column-bg: var(--phoenix-body-bg);
    --phoenix-kanban-ghost-bg: var(--phoenix-body-highlight-bg);
    --phoenix-kanban-drag-bg: var(--phoenix-white);
    --phoenix-kanban-column-hover-bg: var(--phoenix-white);
    --phoenix-leaflet-bar-bg: var(--phoenix-body-highlight-bg)
}

:root [class*=btn-phoenix-] {
    --phoenix-btn-disabled-opacity: 0.7;
    --phoenix-btn-disabled-color: var(--phoenix-quaternary-color);
    --phoenix-btn-disabled-bg: var(--phoenix-secondary-bg)
}

@media(prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth
    }
}


.img-fluid {
    max-width: 100%;
    height: auto
}



:root {
    --phoenix-breakpoint-xs: 0;
    --phoenix-breakpoint-sm: 576px;
    --phoenix-breakpoint-md: 768px;
    --phoenix-breakpoint-lg: 992px;
    --phoenix-breakpoint-xl: 1200px;
    --phoenix-breakpoint-xxl: 1540px
}




.badge {
    --phoenix-badge-padding-x: 0.711111em;
    --phoenix-badge-padding-y: 0.355555em;
    --phoenix-badge-font-size: 0.75em;
    --phoenix-badge-font-weight: 700;
    --phoenix-badge-color: #fff;
    --phoenix-badge-border-radius: 0.25rem;
    display: inline-block;
    padding: var(--phoenix-badge-padding-y) var(--phoenix-badge-padding-x);
    font-size: var(--phoenix-badge-font-size);
    font-weight: var(--phoenix-badge-font-weight);
    line-height: 1;
    color: var(--phoenix-badge-color);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: var(--phoenix-badge-border-radius)
}




.border-bottom {
    border-bottom: var(--phoenix-border-width) var(--phoenix-border-style) var(--phoenix-border-color) !important
}

.border-start {
    border-left: var(--phoenix-border-width) var(--phoenix-border-style) var(--phoenix-border-color) !important
}






.mb-9 {
    margin-bottom: 4rem !important
}

.ms-2 {
    margin-left: .5rem !important
}

.px-2 {
    padding-right: .5rem !important;
    padding-left: .5rem !important
}

.py-1 {
    padding-top: .25rem !important;
    padding-bottom: .25rem !important
}

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important
}

.pb-7 {
    padding-bottom: 3rem !important
}

.pb-9 {
    padding-bottom: 4rem !important
}


.fs-8 {
    font-size: 1rem !important
}

.fs-9 {
    font-size: .8rem !important
}

.fw-semibold {
    font-weight: 600 !important
}

.fw-bold {
    font-weight: 700 !important
}

.lh-sm {
    line-height: 1.2 !important
}

.lh-base {
    line-height: 1.49 !important
}


.bg-event {
    background-color: #f5f7fa !important
}

.bg-primary-subtle {
    background-color: var(--phoenix-primary-bg-subtle) !important
}

.bg-info-subtle {
    background-color: var(--phoenix-info-bg-subtle) !important
}

.rounded {
    border-radius: var(--phoenix-border-radius) !important
}

@media(min-width: 768px) {

    .d-md-block {
        display: block !important
    }

    .mb-md-6 {
        margin-bottom: 2.5rem !important
    }
}


@media(min-width: 992px) {

    .mb-lg-6 {
        margin-bottom: 2.5rem !important
    }
}

@media(min-width: 1200px) {

    .border-end-xl {
        border-right: var(--phoenix-border-width) var(--phoenix-border-style) var(--phoenix-border-color) !important
    }

    .mb-xl-8 {
        margin-bottom: 3.5rem !important
    }
}


::selection {
    background-color: var(--phoenix-primary);
    color: #fff
}



.main button,
.badge,
.main .btn {
    font-family: var(--phoenix-font-sans-serif)
}

.main .btn {
    --phoenix-btn-padding-x: 1.5rem;
    --phoenix-btn-padding-y: 0.625rem;
    --phoenix-btn-font-family: ;
    --phoenix-btn-font-size: 0.8rem;
    --phoenix-btn-font-weight: 700;
    --phoenix-btn-line-height: 1.2;
    --phoenix-btn-color: var(--phoenix-body-color);
    --phoenix-btn-bg: transparent;
    --phoenix-btn-border-width: var(--phoenix-border-width);
    --phoenix-btn-border-color: transparent;
    --phoenix-btn-border-radius: var(--phoenix-border-radius);
    --phoenix-btn-hover-border-color: transparent;
    --phoenix-btn-box-shadow: initial;
    --phoenix-btn-disabled-opacity: 0.3;
    --phoenix-btn-focus-box-shadow: 0 0 0 0 rgba(var(--phoenix-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--phoenix-btn-padding-y) var(--phoenix-btn-padding-x);
    font-family: var(--phoenix-btn-font-family);
    font-size: var(--phoenix-btn-font-size);
    font-weight: var(--phoenix-btn-font-weight);
    line-height: var(--phoenix-btn-line-height);
    color: var(--phoenix-btn-color);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: var(--phoenix-btn-border-width) solid var(--phoenix-btn-border-color);
    border-radius: var(--phoenix-btn-border-radius);
    background-color: var(--phoenix-btn-bg);
    -webkit-box-shadow: var(--phoenix-btn-box-shadow);
    box-shadow: var(--phoenix-btn-box-shadow);
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out
}

.main .btn:hover {
    color: var(--phoenix-btn-hover-color);
    text-decoration: none;
    background-color: var(--phoenix-btn-hover-bg);
    border-color: var(--phoenix-btn-hover-border-color)
}

.main .btn-phoenix-primary {
    --phoenix-btn-color: #3874ff;
    --phoenix-btn-bg: #f5f7fa;
    --phoenix-btn-border-color: #e3e6ed;
    --phoenix-btn-hover-color: var(--phoenix-primary-dark);
    --phoenix-btn-hover-bg: #e3e6ed;
    --phoenix-btn-hover-border-color: #e6e9ef;
    --phoenix-btn-focus-shadow-rgb: 201, 213, 240;
    --phoenix-btn-active-color: #3874ff;
    --phoenix-btn-active-bg: #e3e6ed;
    --phoenix-btn-active-border-color: #e6e9ef;
    --phoenix-btn-active-shadow: initial;
    --phoenix-btn-disabled-color: #000000;
    --phoenix-btn-disabled-bg: #f5f7fa;
    --phoenix-btn-disabled-border-color: #e3e6ed
}

.main .btn-icon {
    height: 2rem;
    width: 2rem;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}


.content {
    min-height: 100vh;
    /*  padding: calc(var(--phoenix-navbar-top-height) + 2rem) 1.5rem 6.375rem 1.5rem; */
    padding-bottom: 6rem
}

@media(min-width: 576px) {
    .content {
        padding-bottom: 4rem
    }
}

.border-dashed {
    --phoenix-border-style: dashed
}

.border-translucent {
    border-color: var(--phoenix-border-color-translucent) !important
}

.container {
    position: relative
}

.flex-between-center {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.flex-1 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

h1,
.h1 {
    font-weight: 800
}

h2,
.h2 {
    font-weight: 800
}

h3,
.h3 {
    font-weight: 800
}

.line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.badge-tag {
    background-color: var(--phoenix-secondary-bg);
    color: var(--phoenix-body-highlight-color);
    font-weight: 700;
    font-size: .64rem;
    padding: .25rem .5rem;
    text-transform: uppercase
}
  .breadcrumbs {
    padding: 15px;
  }

  .breadcrumbs__item {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
  }

  .breadcrumbs__item:last-child:after {
    display: none;
  }

  .breadcrumbs__item svg {
    margin-right: 5px;
    font-size: 14px;
  }

  .breadcrumbs__item:after {
    /*     content: "\f105";
    font-family: FontAwesome; */
    display: inline-block;
    position: relative;
    font-size: 14px;
    margin: 0 6px;
  }

  .breadcrumbs__url {
    color: #000;
  }

  .breadcrumbs__url:hover {
    color: var(--primary-color-2) !important;
  }

  .breadcrumbs__item--current {
    color: #c00;
  }
</style>

</head>

<body class="overflow-x-hidden">
  <%- include('./partials/navbar') %>
  <!--   <section class="section-3 bg-dark">
    jjjj
  </section> -->
  <section class="mt-140px ">
    <div class="container">
      <!-- Breadcrumb -->
      <ul class="breadcrumbs mb-4 text-center">
        <li class="breadcrumbs__item">
          <a class='breadcrumbs__url' href='/home'>
            <svg style="margin-bottom: 5px;" xmlns="http://www.w3.org/2000/svg" width="1.13em" height="1em" viewBox="0 0 576 512">
              <path fill="black" d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40h-16c-1.1 0-2.2 0-3.3-.1c-1.4.1-2.8.1-4.2.1H392c-22.1 0-40-17.9-40-40v-88c0-17.7-14.3-32-32-32h-64c-17.7 0-32 14.3-32 32v88c0 22.1-17.9 40-40 40h-55.9c-1.5 0-3-.1-4.5-.2c-1.2.1-2.4.2-3.6.2h-16c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9.1-2.8v-69.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7l255.4 224.5c8 7 12 15 11 24" />
            </svg>Accueil</a>
        </li>
        <li class="breadcrumbs__item">
          <a class='breadcrumbs__url' href='/events'><svg xmlns="http://www.w3.org/2000/svg" width="0.63em" height="1em" viewBox="0 0 320 512">
              <path fill="black" d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256L73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z" />
            </svg>Events</a>
        </li>
        <li class="breadcrumbs__item breadcrumbs__item--current"><svg xmlns="http://www.w3.org/2000/svg" width="0.63em" height="1em" viewBox="0 0 320 512">
            <path fill="black" d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256L73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z" />
          </svg>
          <%= event.title %>
        </li>
      </ul>
    </div>
  </section>

  <main class="main" id="top">
    <div class="container">
      <div class="content">
        <div class="pb-9">
          <h2 class="mb-4 mb-lg-6"><span class="primary-color-2"><%= event.title %></span> <%= event.type != undefined && event.type != '' ? '(' +event.type+ ')' : '' %></h2>
          <img class="rounded w-100 mb-5 mb-md-6 mb-xl-8  fit-cover " src="<%= event.coverpath %>" alt="<%= event.title %> Cover Image" style="max-height: 500px; width: auto;">
          <div class="row gx-lg-9">
            <div class="col-xl-8 border-end-xl">
              <div class="card mb-9 fw-semibold">
                <div class="card-body">
                  <h1 class="lh-sm fs-6 fs-xxl-4 mb-2 primary-color-1">Description</h1>
                  <p class="fs-8 mb-4 ">
                    <%= event.description %>
                  </p>
                  <div class="card mb-5 mb-xxl-7">
                    <div class="card-body">
                      <div class="row gy-5">
                        <% if (event.venue || event.country || event.state || event.city) { %>
                        <div class="col-md-6 d-flex justify-content-between">
                          <div>
                            <div class="mb-3">
                              <div class="d-flex align-items-center">
                                <div class="px-2 py-1 bg-info-subtle rounded"><svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin text-info">
                                    <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
                                    <circle cx="12" cy="10" r="3"></circle>
                                  </svg></div>
                                <h5 class="ms-2 text-body-emphasis mb-0">Location <%= event.participation === 'Both' ? '(Online & Onsite)' : '(' +event.participation+ ')' %></h5>
                              </div>
                            </div>
                            <p class="lh-sm mb-0 ">
                              <%= event.venue ? event.venue : '' %><%= event.country ? ', ' +  event.country : '' %><br>
                              <%= event.state ? event.state : '' %><%= event.city ? ', ' +  event.city : '' %>
                            </p>
                          </div>
                          <div class="my-4 mx-3 border-start border-translucent d-none d-md-block"></div>
                        </div>
                        <% } %>

                        <div class="col-md-6">
                          <div class="mb-3">
                            <div class="d-flex align-items-center">
                              <div class="px-2 py-1 bg-primary-subtle rounded"><svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock text-primary">
                                  <circle cx="12" cy="12" r="10"></circle>
                                  <polyline points="12 6 12 12 16 14"></polyline>
                                </svg></div>
                              <h5 class="ms-2 mb-0">Date &amp; Time</h5>
                            </div>
                          </div>
                          <p class="lh-sm mb-0 ">
                            <%= event.start %> <br> <%= event.end ? event.end : '' %>
                          </p>
                        </div>

                        <% if (event.regDead) { %>
                        <div class="col-12">
                          <div class="mb-3">
                            <div class="d-flex align-items-center">
                              <div class="px-2 py-1 bg-primary-subtle rounded"><svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" fill="currentColor" class="bi bi-stickies" viewBox="0 0 16 16" class="feather feather-clock text-primary">
                                  <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5V13a1 1 0 0 0 1 1V1.5a.5.5 0 0 1 .5-.5H14a1 1 0 0 0-1-1z" />
                                  <path d="M3.5 2A1.5 1.5 0 0 0 2 3.5v11A1.5 1.5 0 0 0 3.5 16h6.086a1.5 1.5 0 0 0 1.06-.44l4.915-4.914A1.5 1.5 0 0 0 16 9.586V3.5A1.5 1.5 0 0 0 14.5 2zM3 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 .5.5V9h-4.5A1.5 1.5 0 0 0 9 10.5V15H3.5a.5.5 0 0 1-.5-.5zm7 11.293V10.5a.5.5 0 0 1 .5-.5h4.293z" />
                                </svg></div>
                              <h5 class="ms-2 mb-0">Registration Deadline:</h5>
                            </div>
                          </div>
                          <p class="lh-sm mb-0 ">
                            <%= event.regDead ? event.regDead : '' %>
                          </p>
                        </div>
                        <% } %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <h2 class="mb-3 primary-color-1">À propos de cet événement</h2>

              <div class="reset-styles">
                <%- event.summernote %>
              </div>
              <br>
              <% if (event.attachements && (event.attachements.length) > 0) { %>
              <h2 class="mb-3 primary-color-1">Pièces jointes</h2>
              <ul>
                <% event.attachements.forEach(function(attachment) { %>
                <li>
                  <svg xmlns="http://www.w3.org/2000/svg" width="0.88em" height="1em" viewBox="0 0 448 512">
                    <path fill="black" d="M364.2 83.8c-24.4-24.4-64-24.4-88.4 0l-184 184c-42.1 42.1-42.1 110.3 0 152.4s110.3 42.1 152.4 0l152-152c10.9-10.9 28.7-10.9 39.6 0s10.9 28.7 0 39.6l-152 152c-64 64-167.6 64-231.6 0s-64-167.6 0-231.6l184-184c46.3-46.3 121.3-46.3 167.6 0s46.3 121.3 0 167.6l-176 176c-28.6 28.6-75 28.6-103.6 0s-28.6-75 0-103.6l144-144c10.9-10.9 28.7-10.9 39.6 0s10.9 28.7 0 39.6l-144 144c-6.7 6.7-6.7 17.7 0 24.4s17.7 6.7 24.4 0l176-176c24.4-24.4 24.4-64 0-88.4" />
                  </svg>
                  <a href="<%= attachment.path %>"><%= attachment.filename %></a>
                </li>
                <% }); %>
              </ul>
              <% } %>




              <!--               <h3 class="mb-3 fw-bold text-body-highlight fs-7 fs-xxl-6">Responses:</h3>
              <div class="d-flex mb-6">
                <div class="me-3">
                  <p class="mb-2 text-body-secondary">Going</p>
                  <h3 class="text-body-secondary">4,569</h3>
                </div>
                <div class="my-3 mx-2 mx-sm-3 border-start"></div>
                <div class="mx-3">
                  <p class="mb-2 text-body-secondary">Interested</p>
                  <h3 class="text-body-secondary">15,652</h3>
                </div>
                <div class="my-3 mx-2 mx-sm-3 border-start"></div>
                <div class="ms-3">
                  <p class="mb-2 text-body-secondary">Share</p>
                  <h3 class="text-body-secondary">11,236</h3>
                </div>
              </div> -->

              <h3 class="mb-3 fw-bold text-body-highlight fs-7">Partager avec des amis:</h3>
              <div class="d-flex mb-5">
                <a class="btn btn-phoenix-primary btn-icon me-2 shfacebook" target="blank">
                  <svg class="svg-inline--fa fa-facebook text-facebbok " aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                    <path fill="currentColor" d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.8 90.69 226.4 209.3 245V327.7h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.3 482.4 504 379.8 504 256z">
                    </path>
                  </svg>
                  <!-- <span class="fa-brands fa-facebook text-facebbok"></span> Font Awesome fontawesome.com -->
                </a>
                <a class="btn btn-phoenix-primary btn-icon me-2 shtwitter" target="blank"><svg class="svg-inline--fa fa-twitter text-info" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                    <path fill="currentColor" d="M459.4 151.7c.325 4.548 .325 9.097 .325 13.65 0 138.7-105.6 298.6-298.6 298.6-59.45 0-114.7-17.22-161.1-47.11 8.447 .974 16.57 1.299 25.34 1.299 49.06 0 94.21-16.57 130.3-44.83-46.13-.975-84.79-31.19-98.11-72.77 6.498 .974 12.99 1.624 19.82 1.624 9.421 0 18.84-1.3 27.61-3.573-48.08-9.747-84.14-51.98-84.14-102.1v-1.299c13.97 7.797 30.21 12.67 47.43 13.32-28.26-18.84-46.78-51.01-46.78-87.39 0-19.49 5.197-37.36 14.29-52.95 51.65 63.67 129.3 105.3 216.4 109.8-1.624-7.797-2.599-15.92-2.599-24.04 0-57.83 46.78-104.9 104.9-104.9 30.21 0 57.5 12.67 76.67 33.14 23.72-4.548 46.46-13.32 66.6-25.34-7.798 24.37-24.37 44.83-46.13 57.83 21.12-2.273 41.58-8.122 60.43-16.24-14.29 20.79-32.16 39.31-52.63 54.25z">
                    </path>
                  </svg><!-- <span class="fa-brands fa-twitter text-info"></span> Font Awesome fontawesome.com --></a>
                <a class="btn btn-phoenix-primary btn-icon me-2" target="blank"><svg class="svg-inline--fa fa-envelope text-danger" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="envelope" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                    <path fill="currentColor" d="M464 64C490.5 64 512 85.49 512 112C512 127.1 504.9 141.3 492.8 150.4L275.2 313.6C263.8 322.1 248.2 322.1 236.8 313.6L19.2 150.4C7.113 141.3 0 127.1 0 112C0 85.49 21.49 64 48 64H464zM217.6 339.2C240.4 356.3 271.6 356.3 294.4 339.2L512 176V384C512 419.3 483.3 448 448 448H64C28.65 448 0 419.3 0 384V176L217.6 339.2z">
                    </path>
                  </svg><!-- <span class="fa-solid fa-envelope text-danger"></span> Font Awesome fontawesome.com --></a>
                <a class="btn btn-phoenix-primary btn-icon me-2 shlinkedin" target="blank"><svg class="svg-inline--fa fa-linkedin-in text-info" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin-in" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                    <path fill="currentColor" d="M100.3 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.6 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.3 61.9 111.3 142.3V448z">
                    </path>
                  </svg><!-- <span class="fa-brands fa-linkedin-in text-info"></span> Font Awesome fontawesome.com --></a>
              </div>
            </div>
            <div class="col-xl-4">
              <% if (event.organizers && event.organizers.length > 0) { %>
              <h3 class="mb-3 primary-color-1">Organisé par</h3>
              <div class="row g-2 mb-3 align-items-center">
                <div class="col-sm-auto flex-1">
                  <span class="mb-0lh-sm fw-semibold ">
                    <%= event.organizers.join(', ') %>
                  </span>
                </div>
              </div>


              <div class="row g-2 mb-4 align-items-center">
                <% if (event.ologospath && event.ologospath.length > 0) { %>
                <% event.ologospath.forEach(function(path) { %>
                <div class="col-auto"><img class="rounded img-fluid" src="<%= path %>" alt="Organizer logo" width="40" height="auto"></div>
                <% }) %>
                <% } %>
              </div>
              <% } %>


              <% if (event.sponsors  && event.sponsors.length > 0) { %>
              <h3 class="mb-3 primary-color-1">Sponsorisé par</h3>
              <div class="row g-2 mb-3 align-items-center">
                <div class="col-sm-auto flex-1">
                  <span class="mb-0 lh-sm fw-semibold ">
                    <%= event.sponsors.join(', ') %>
                  </span>
                </div>
              </div>



              <div class="row g-2 mb-4 align-items-center">
                <% if (event.slogospath && event.slogospath.length > 0) { %>
                <% event.slogospath.forEach(function(path) { %>
                <div class="col-auto"><img class="rounded img-fluid" src="<%= path %>" alt="Sponsor logo" width="40" height="auto"></div>
                <% }) %>
                <% } %>
              </div>

              <% } %>



              <% if (event.tags && event.tags.length > 0) { %>
              <h3 class="mb-3 primary-color-1">Tags</h3>
              <div class="d-flex flex-wrap pb-7 border-bottom border-translucent">
                <% event.tags.forEach(tag=> { %>
                <span class="badge badge-tag me-2 mb-2">
                  <%= tag %>
                </span>
                <% }); %>
              </div>
              <% } %>




              <div class="row g-0 py-3 border-bottom border-dashed align-items-end justify-content-between">
                <div class="col-auto">
                  <h3 class="flex-1 mb-0 text-nowrap me-3 primary-color-1">Évènements à venir</h3>
                </div>
                <div class="col-auto"><a class="fw-bold fs-9" href="/events">Voir le calendrier</a></div>
              </div>



              <% if (latestEvents && latestEvents.length > 0) { %>
              <% latestEvents.forEach(levent=> { %>
              <div class="bg-event my-4 p-3 border-bottom border-translucent border-dashed">
                <div class="d-flex flex-between-center">
                  <p class="fs-8 mb-0 fw-bold mb-1 primary-color-2">
                    <%= levent.start.toDateString() %> - <%= levent.end ? levent.end.toDateString() : 'Ongoing' %>
                    <span><%= levent.participation === 'Both' ? '(Online & Onsite)' : '('+levent.participation+')' %></span>
                  </p>
                </div>
                <a class="text-primary-hover text-body-highlight fw-bold mb-2 line-clamp-1 me-5 lh-base" href=" <%= levent._id %>">
                  <%= levent.title %>
                </a>
                <% if (levent.organizers && levent.organizers.length > 0) { %>
                <p class="text-body-secondary fs-9 mb-2">Organisé par <br><span class="fw-bold">
                    <%= levent.organizers %>
                    <% } %>

                    <% if (levent.sponsors && levent.sponsors.length > 0) { %>
                    <p class="text-body-secondary fs-9 mb-2">Sponsorisé par<br><span class="fw-bold">
                        <%= levent.sponsors %>
                        <% } %>

                      </span></p>
                    <% if (levent.regDead) { %>
                    <p class="text-body-secondary fs-9 mb-2">Deadline Date:<br><span class="fw-bold">
                        <%= event.regDead ? event.regDead : '' %>
                      </span></p>
                    <% } %>
                    <p class="fs-9  fw-bold mb-1">
                      <svg class="svg-inline--fa fa-clock text-body-secondary me-1" width="16px" height="16px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="clock" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                        <path fill="currentColor" d="M256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512zM232 256C232 264 236 271.5 242.7 275.1L338.7 339.1C349.7 347.3 364.6 344.3 371.1 333.3C379.3 322.3 376.3 307.4 365.3 300L280 243.2V120C280 106.7 269.3 96 255.1 96C242.7 96 231.1 106.7 231.1 120L232 256z">
                        </path>
                      </svg>
                      <!-- <span class="fa-solid fa-clock text-body-secondary me-1"></span> Font Awesome fontawesome.com -->
                      <%= levent.start.toLocaleTimeString() %>
                    </p>



                    <% if (levent.venue || levent.country || levent.state || levent.city) { %>
                    <p class="fs-9  fw-bold mb-0">
                      <svg class="svg-inline--fa fa-location-dot text-body-secondary me-1" width="16px" height="16px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="location-dot" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg="">
                        <path fill="currentColor" d="M168.3 499.2C116.1 435 0 279.4 0 192C0 85.96 85.96 0 192 0C298 0 384 85.96 384 192C384 279.4 267 435 215.7 499.2C203.4 514.5 180.6 514.5 168.3 499.2H168.3zM192 256C227.3 256 256 227.3 256 192C256 156.7 227.3 128 192 128C156.7 128 128 156.7 128 192C128 227.3 156.7 256 192 256z">
                        </path>
                      </svg>
                      <%= levent.venue ? ', ' + levent.venue : '' %>
                      <%= levent.country ? ', ' + levent.country : '' %>
                      <%=levent.state ? ', ' + levent.state : '' %>
                      <%= levent.city ? ', ' + levent.city : '' %>
                    </p>
                    <% } %>
              </div>
              <% }); %>

              <% } else { %>
              <p>Aucun événement à venir disponible pour le moment.</p>
              <% } %>





            </div>
          </div>
        </div>
      </div>
    </div>





  </main>


  <%- include('./commun/footer') %>
  <script nonce="<%= nonce %>">
    document.addEventListener('DOMContentLoaded', function() {
      //const ngrokUrl = encodeURI(window.location.href); //"https://97e0-102-156-53-177.ngrok-free.app"; // Ngrok URL from your session
      const ngrokUrl = 'https://d8ed-102-157-247-91.ngrok-free.app'
      console.log(ngrokUrl);


      document.querySelector('.shfacebook').href = `https://www.facebook.com/sharer/sharer.php?u=${ngrokUrl}/events/<%= event._id %>&title=<%= event.title %>&quote=<%= event.description %>`;

      /*       document.querySelector('.shtwitter').href = `https://twitter.com/intent/tweet?url=${ngrokUrl}/events/<%= event._id %>&text=<%= event.title %>&via=your_twitter_handle`;
      
                  document.querySelector('.shwhatsapp').href = `https://api.whatsapp.com/send?text=<%= event.title %> ${ngrokUrl}/events/<%= event._id %>`;
      
                  document.querySelector('.shtelegram').href = `https://t.me/share/url?url=${ngrokUrl}/events/<%= event._id %>&text=<%= event.title %>`;
      
                  document.querySelector('.shlinkedin').href = `https://www.linkedin.com/sharing/share-offsite/?url=${ngrokUrl}/events/<%= event._id %>`;
      
                  document.querySelector('.shinstagram').href = `https://www.instagram.com/share?url=${ngrokUrl}/events/<%= event._id %>&title=<%= event.title %>`; */
    });
  </script>

</body>

</html>