<%- include('./commun/head',{nonce, titre: 'FAQ'}) %>
</head>

<body class="bg-light">
  <%- include('./partials/navbar') %>


  <!-- FAQ 3 - Bootstrap Brain Component -->
  <section class="bsb-faq-3 mt-5 py-3 py-md-5 py-xl-8">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
          <h2 class="mb-4 display-5 text-center">Questions fréquemment posées</h2>
          <p class="text-secondary text-center lead fs-4">Bienvenue sur notre page FAQ, votre ressource unique pour les réponses aux questions fréquemment posées.</p>
          <!--           <p class="mb-5 text-center">Whether you're a new customer looking to learn more about what we offer or a long-time user seeking clarification on specific topics, this page has clear and concise information about our products and services.</p>
 -->
          <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
        </div>
      </div>
    </div>

    <% Object.keys(groupedFaqs).forEach((title,index) => { %>
    <div class="mb-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-11 col-xl-10">
            <div class="d-flex align-items-end mb-5">
              <h3 class="m-0"><%= title %></h3>
            </div>
          </div>
          <div class="col-11 col-xl-10">
            <div class="accordion accordion-flush" id="<%= "faqserie"+ index %>">
              <% groupedFaqs[title].forEach((faq,index1) => { %>
              <div class="accordion-item bg-transparent border-top border-bottom py-3">
                <h2 class="accordion-header" id="<%= "faqserie"+ index1+ index %>Heading">
                  <button class="accordion-button collapsed bg-transparent fw-bold shadow-none link-primary" type="button" data-bs-toggle="collapse" data-bs-target="#<%= "faqserie"+ index1+ index %>Collapse" aria-expanded="false" aria-controls="<%= "faqserie"+ index1+ index %>Collapse">
                    <%= faq.question %>
                  </button>
                </h2>
                <div id="<%= "faqserie"+ index1+ index %>Collapse" class="accordion-collapse collapse" aria-labelledby="<%= "faqserie"+ index1+ index %>Heading">
                  <div class="accordion-body">
                    <p><%= faq.answer %></p>
                  </div>
                </div>
              </div>
              <% }) %>




            </div>
          </div>
        </div>
      </div>
    </div>

    <% }) %>



  </section>





  <%- include('./commun/footer') %>

</body>

</html>