<!DOCTYPE html>
<html lang="en">
<%- include('./commun/head') %>



<body class="bg-light">
  <%- include('./partials/navbar') %>
  <section class="section-3 bg-dark">
    jjjj
  </section>
  <!-- Blog 5 - Bootstrap Brain Component -->

  <section class="bsb-blog-5 py-3 py-md-5 py-xl-8">
    <form action="/allannouncement" method="GET" class="container mb-5">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="input-group">
            <input class="form-control border-end-0 border" name="search" type="search" placeholder="Search..." id="search-input">
            <span class="input-group-append">
              <button class="btn btn-primary" type="submit">Search</button>
            </span>
          </div>
        </div>
      </div>
    </form>

    <div class="container overflow-hidden">
      <div class="row gy-4 gy-md-5 gx-xl-6 gy-xl-6 gx-xxl-9 gy-xxl-9">
        <% formData.forEach(form => { %>
          <a class="col-12" href="/form/<%= form._id %>">
              <h2><%= form.title %></h2>
          </a>
          <hr>
          <br>
          <br>
      <% }); %>


      </div>



  </section>




  <%- include('./commun/footer') %>


</body>

</html>