<!DOCTYPE html>
<html lang="en">
<%- include('./commun/head') %>
<link rel="stylesheet" href="plugin/twentytwenty/twentytwenty.css">

<body class="bg-light">
  <%- include('./partials/navbar') %>
  <%- include('./partials/hero') %>

  <!-- About 1 - Bootstrap Brain Component -->
  <section class="py-3 py-md-5">
    <div class="container">
      <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
        <div class="col-12 col-lg-6 col-xl-5">
          <!-- <img class="img-fluid rounded" loading="lazy" src="./assets/img/about-img-1.jpg" alt="About 1"> -->
          <div class="twentytwenty-container" data-orientation="vertical">
            <img src="/images/slider-1.jpg" />
            <img src="/images/slider-1c.jpg" />
          </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-7">
          <div class="row justify-content-xl-center">
            <div class="col-12 col-xl-11">
              <h2 class="mb-3">Qui sommes nous?</h2>
              <p class="lead fs-4 text-secondary mb-3">Nous sommes une plateforme dédiée à la gestion durable des déchets, visant à informer, inspirer, et mobiliser les communautés pour des pratiques environnementales responsables. Notre mission est de faciliter l'accès aux ressources et de soutenir activement les initiatives locales pour un avenir plus vert.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <!-- Service 4 - Bootstrap Brain Component -->
  <section class="bg-light py-5 py-xl-8">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12">
          <h3 class="fw-bold display-5 mb-2 text-uppercase primary-color-2">Ce site web</h3>
          <h2 class="mb-4 text-secondary primary-color-1">Vous soutient et vous guide dans</h2>
          <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
        </div>
      </div>
    </div>

    <div class="container overflow-hidden">
      <div class="row gy-4 gy-xl-0">
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="card border-0 border-bottom border-primary shadow-sm">
            <div class="card-body text-center p-4 p-xxl-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 16 16">
                <path fill="currentColor" d="m4.036 2.488l6.611 2.833L8 6.455L1.427 3.638c.148-.151.329-.273.535-.352zm1.338-.514l1.55-.596a3 3 0 0 1 2.153 0l4.962 1.908c.205.08.386.2.534.352l-2.656 1.138zm9.62 2.572L8.5 7.329v7.45q.295-.05.577-.158l4.962-1.909a1.5 1.5 0 0 0 .961-1.4V4.686q0-.07-.007-.14M7.5 14.779v-7.45L1.007 4.546a2 2 0 0 0-.007.14v6.626a1.5 1.5 0 0 0 .962 1.4l4.961 1.909q.282.108.577.158" />
              </svg>
              <h4 class="mt-4">la collecte<br>des déchets</h4>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="card border-0 border-bottom border-primary shadow-sm">
            <div class="card-body text-center p-4 p-xxl-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 48 48">
                <g fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="4">
                  <path d="M42 8H20a2 2 0 0 0-2 2v22a2 2 0 0 0 2 2h22a2 2 0 0 0 2-2V10a2 2 0 0 0-2-2ZM4 34h14V20h-7l-7 6.462z" />
                  <path stroke-linecap="round" d="M18 36a4 4 0 0 1-8 0m30 0a4 4 0 0 1-8 0" />
                </g>
              </svg>
              <h4 class="mt-4">le transport<br>des déchets</h4>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="card border-0 border-bottom border-primary shadow-sm">
            <div class="card-body text-center p-4 p-xxl-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 24 24">
                <path fill="currentColor" d="M2 4h13v2H2zm0 7h13v2H2zm1 7H2v2h11v-2h-1zm16 3.414l.707-.707l3-3l.707-.707L22 15.586l-.707.707L20 17.586V4h-2v13.586l-1.293-1.293l-.707-.707L14.586 17l.707.707l3 3z" />
              </svg>
              <h4 class="mt-4">le tri<br>des déchets</h4>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="card border-0 border-bottom border-primary shadow-sm">
            <div class="card-body text-center p-4 p-xxl-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 256 256">
                <path fill="currentColor" d="M136 108H48a12 12 0 0 0-12 12v88a12 12 0 0 0 12 12h88a12 12 0 0 0 12-12v-88a12 12 0 0 0-12-12m-12 88H60v-64h64Zm96-8v12a20 20 0 0 1-20 20h-20a12 12 0 0 1 0-24h16v-8a12 12 0 0 1 24 0m0-72v24a12 12 0 0 1-24 0v-24a12 12 0 0 1 24 0m0-60v16a12 12 0 0 1-24 0V60h-12a12 12 0 0 1 0-24h16a20 20 0 0 1 20 20m-68-8a12 12 0 0 1-12 12h-24a12 12 0 0 1 0-24h24a12 12 0 0 1 12 12M36 76V56a20 20 0 0 1 20-20h12a12 12 0 0 1 0 24h-8v16a12 12 0 0 1-24 0" />
              </svg>
              <h4 class="mt-4">la mise en balle<br>des déchets</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <style>
    @media(min-width:992px) {
      .mt-lg-6 {
        margin-top: 3.5rem !important
      }
    }

    @media(min-width:1200px) {
      .mb-xl-9 {
        margin-bottom: 5rem !important
      }
    }
  </style>



<% if (achievement) { %>
  <section class="bg-light py-3 py-md-5">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12">
          <h3 class="fw-bold display-5 mb-2 text-uppercase primary-color-2">Notre réussite</h3>
          <h2 class="mb-4 text-secondary primary-color-1">Nous avons fait nos preuves en matière de réussite.</h2>
          <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
        </div>
      </div>
    </div>
    <style>
      img.framed {
        box-shadow: -50px -50px 0 -40px var(--primary-color-2), 50px 50px 0 -40px var(--primary-color-2);
      }
    </style>
    <div class="container">
      <div class="row gy-4 gy-lg-0 align-items-lg-center">

        
        <div class="col-12 col-lg-6">
          <% if (achievement.path) { %>
          <img class="img-fluid rounded framed" loading="lazy" src="<%= achievement.path %>" alt="Our Success">
          <% } else { %>
            <img class="img-fluid rounded framed" loading="lazy" src="/images/Default-thumbnail.png" alt="Our Success">
            <% } %>
        </div>


        <div class="col-12 col-lg-6">
          <div class="row justify-content-xl-end">
            <div class="col-12 col-xl-11">
              <div class="row gy-4 gy-sm-0 overflow-hidden">
                <div class="col-12 col-sm-6">

                  <% if (achievement.titrec1 && achievement.valc1) { %>
                  <div class="card border-0 border-bottom border-primary shadow-sm mb-4">
                    <div class="card-body text-center p-4 p-xxl-5">
                      <h3 class="display-2 fw-bold mb-2"><%= achievement.valc1 %></h3>
                      <p class="fs-5 mb-0 text-secondary"><%= achievement.titrec1 %></p>
                    </div>
                  </div>
                  <% } %>

                  <% if (achievement.titrec2 && achievement.valc2) { %>
                  <div class="card border-0 border-bottom border-primary shadow-sm">
                    <div class="card-body text-center p-4 p-xxl-5">
                      <h3 class="display-2 fw-bold mb-2"><%= achievement.valc2 %></h3>
                      <p class="fs-5 mb-0 text-secondary"><%= achievement.titrec2 %></p>
                    </div>
                  </div>
                  <% } %>


                </div>
                <div class="col-12 col-sm-6">

                  <% if (achievement.titrec3 && achievement.valc3) { %>
                  <div class="card border-0 border-bottom border-primary shadow-sm mt-lg-6 mt-xxl-8 mb-4">
                    <div class="card-body text-center p-4 p-xxl-5">
                      <h3 class="display-2 fw-bold mb-2"><%= achievement.valc3 %></h3>
                      <p class="fs-5 mb-0 text-secondary"><%= achievement.titrec3 %></p>
                    </div>
                  </div>
                  <% } %>
                  <% if (achievement.titrec4 && achievement.valc4) { %>
                  <div class="card border-0 border-bottom border-primary shadow-sm">
                    <div class="card-body text-center p-4 p-xxl-5">
                      <h3 class="display-2 fw-bold mb-2"><%= achievement.valc4 %></h3>
                      <p class="fs-5 mb-0 text-secondary"><%= achievement.titrec4 %></p>
                    </div>
                  </div>
                  <% } %>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% } %>


  <style>
    .ftco-section {
      padding: 7em 0;
    }

    .ftco-no-pt {
      padding-top: 0;
    }

    .ftco-no-pb {
      padding-bottom: 0;
    }

    .heading-section {
      font-size: 28px;
    }

    .img {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .slider-hero {
      position: relative;
    }

    .owl-carousel {
      position: relative;
    }

    .owl-carousel .owl-item {
      opacity: 1;
    }

    .owl-carousel .owl-item.active {
      opacity: 1;
    }

    .owl-carousel .owl-nav {
      position: absolute;
      top: 50%;
      width: 100%;
    }

    .owl-carousel .owl-nav .owl-prev,
    .owl-carousel .owl-nav .owl-next {
      position: absolute;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      margin-top: 0;
      color: white !important;
      -webkit-transition: 0.7s;
      -o-transition: 0.7s;
      transition: 0.7s;
      opacity: 1;
    }

    @media (prefers-reduced-motion: reduce) {

      .owl-carousel .owl-nav .owl-prev,
      .owl-carousel .owl-nav .owl-next {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
      }
    }

    .owl-carousel .owl-nav .owl-prev span:before,
    .owl-carousel .owl-nav .owl-next span:before {
      font-size: 30px;
    }

    .owl-carousel .owl-nav .owl-prev {
      left: 20px;
    }

    .owl-carousel .owl-nav .owl-next {
      right: 20px;
    }

    .owl-carousel .owl-dots {
      text-align: center;
      margin-top: 0;
      position: absolute;
      bottom: 20px;
      right: 0;
      left: 0;
    }

    .owl-carousel .owl-dots .owl-dot {
      width: 10px;
      height: 10px;
      margin: 5px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.5);
      position: relative;
    }

    .owl-carousel .owl-dots .owl-dot:hover,
    .owl-carousel .owl-dots .owl-dot:focus {
      outline: none !important;
    }

    .owl-carousel .owl-dots .owl-dot.active {
      background: #ff5959;
    }

    .owl-carousel.owl-drag .owl-item {
      -ms-touch-action: pan-y;
      touch-action: pan-y;
    }

    .work {
      width: 100%;
    }

    .work .img {
      width: 100%;
      height: 600px;
      position: relative;
      z-index: 0;
      border-radius: 10px;
      overflow: hidden;
      -webkit-box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
      -moz-box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
      box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
    }

    .work .img:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      z-index: -1;
      background: #000;
      opacity: .3;
    }

    .work .text h2 {
      font-size: 60px;
      font-weight: 200;
      color: #fff;
      text-transform: uppercase;
    }

    @media (max-width: 991.98px) {
      .work .text h2 {
        font-size: 40px;
      }
    }

    .work .text span {
      font-size: 12px;
      letter-spacing: 1px;
      color: rgba(0, 0, 0, 0.3);
      text-transform: uppercase;
      font-weight: 500;
    }

    .thumbnail {
      list-style: none;
      padding: 0;
      margin: 0;
      position: absolute;
      bottom: 0px;
      left: 50%;
      -webkit-transform: translateY(50%) translateX(-50%);
      -ms-transform: translateY(50%) translateX(-50%);
      transform: translateY(50%) translateX(-50%);
      z-index: 99;
      width: 100%;
    }

    .thumbnail li {
      display: inline-block;
    }

    .thumbnail li a {
      display: block;
      margin: 4px;
    }

    .thumbnail li a img {
      width: 80px;
      border-radius: 50%;
      -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
      transform: scale(0.8);
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease;
      -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    }

    .thumbnail li.active a img {
      border: 4px solid #fff;
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    }

    @media (max-width: 767.98px) {
      .thumbnail li a img {
        width: 50px;
      }
    }
  </style>

<% if (recentImages && recentImages.length > 0) { %>
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12">
          <h3 class="fw-bold display-5 mb-2 text-uppercase primary-color-2">Découvrez Nos Initiatives en Images</h3>
          <h2 class="mb-4 text-secondary primary-color-1">Laissez-vous inspirer par nos actions concrètes pour un avenir plus durable.</h2>
          <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="slider-hero">
            <div class="featured-carousel owl-carousel">

              <% recentImages.forEach(image => { %>
              <div class="item">
                <div class="work">
                  <div class="img d-flex align-items-center justify-content-center" style="background-image: url('<%= image.path%>');" alt="<%= image.filename %>">
                  </div>
                </div>
              </div>
              <% }); %>




            </div>

            <div class="my-5 text-center">
              <ul class="thumbnail">
                <% resizedImages.forEach((image, index) => { %>
                <li <% if(index === 0) { %> class="active" <% } %>>
                  <a href="#"><img src="<%= image.resizedPath %>" alt="<%= image.filename %>" class="img-fluid"></a>
                </li>
                <% }) %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-2">
        <a href="/galleryimages" class="btn btn-primary">Voir plus d'images</a>
      </div>
    </div>
  </section>
  <% } %>







  <% if (recentBlogs && recentBlogs.length > 0) { %>
  <section id="blogcards" class="bg-light py-3 py-md-5">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12">
          <h3 class="fw-bold display-5 mb-2 text-uppercase primary-color-2"> Articles Engagés et Informatifs</h3>
          <h2 class="mb-4 text-secondary primary-color-1">Explorez notre collection d'articles couvrant une multitude de sujets passionnants.</h2>
          <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row gy-4 gy-lg-0 align-items-lg-center">
        <div class="container2">


          <% recentBlogs.forEach(blog => { %>
          <div class="card">
            <div class="card-header">
              <img src="<%= blog.coverIMGpath %>" alt="" />
            </div>
            <div class="card-body">
              <a href="/blogs/<%= blog._id %>">
                <h4><%= blog.title %></h4>
              </a>
              <p><%= blog.subtitle %></p>

              <% if ( blog.autor.fullname ) { %>
              <div class="user">




                <img src="<%= blog.autor.autorIMGpath  %>" alt="" />





                <div class="user-info">
                  <h5><%= blog.autor.fullname %></h5>
                  <small><%= blog.createdAt.toDateString() %></small>
                </div>
              </div>
              <% }else{ %>
              <div class="user">
                <div class="user-info">
                  <small><%= blog.createdAt.toDateString() %></small>
                </div>
              </div>

              <% } %>



            </div>
          </div>
          <% }) %>
        </div>
      </div>

      <div class="d-flex justify-content-center my-5">
        <a href="/blogs" class="btn btn-primary">Voir plus d'articles</a>
      </div>




    </div>
  </section>
  <% } %>




  <style>
    @media(min-width:1200px) {
      .py-xl-10 {
        padding-bottom: 5.5rem !important;
        padding-top: 5.5rem !important
      }
    }

    .bsb-btn-3xl {
      --bs-btn-padding-y: 0.875rem;
      --bs-btn-padding-x: 1.75rem;
      --bs-btn-font-size: calc(1.28rem + 0.36vw);
      --bs-btn-border-radius: var(--bs-border-radius-lg)
    }

    @media(min-width:1200px) {
      .bsb-btn-3xl {
        --bs-btn-font-size: 1.55rem
      }
    }

    .bsb-form-control-3xl {
      border-radius: var(--bs-border-radius-lg);
      font-size: calc(1.28rem + .36vw);
      min-height: calc(1.5em + 1.75rem + var(--bs-border-width)*2);
      padding: .875rem 1.75rem
    }

    @media(min-width:1200px) {
      .bsb-form-control-3xl {
        font-size: 1.55rem
      }
    }
  </style>
  <style>
    .sectionnw {
      background-color: #ffffff;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cuse fill='%23fcfcfc' href='%23s' y='2'/%3E%3Cuse fill='%23fcfcfc' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='2'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f2f2f2'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23efefef'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23BC2026'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23BC2026'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23BC2026'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
      background-attachment: fixed;
      background-size: cover;
    }
  </style>

  <!-- Newsletter 1 - Bootstrap Brain Component -->
  <section class="py-3 py-md-5 py-xl-10 sectionnw">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-9 col-lg-8 col-xl-7 col-xxl-6">
          <h2 class="primary-color-2 display-6 fw-bold mb-4 mb-md-5 mb-xxl-6 text-center">Inscrivez-vous à notre newsletter et ne manquez rien.</h2>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-10 col-lg-9 col-xl-8 col-xxl-7">



          <form id="subscribeForm" class="row gy-3 gy-lg-0 gx-lg-2 justify-content-center">
            <div class="col-12 col-lg-8">
              <label for="email-newsletter-component" class="visually-hidden">Adresse e-mail</label>
              <input type="email" class="form-control bsb-form-control-3xl" id="email-newsletter-component" name="email" placeholder="Email Address" aria-label="email-newsletter-component" aria-describedby="email-newsletter-help" required>
              <div id="email-newsletter-help" class="primary-color-1 form-text text-center text-lg-start">Nous ne partagerons jamais votre e-mail avec quelqu'un d'autre.</div>
            </div>
            <div class="col-12 col-lg-3 text-center text-lg-start">
              <button id="sendbtn" type="submit" class="btn btn-primary bsb-btn-3xl">S'abonner</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>





  <%- include('./commun/footer') %>
  <script>
    document.getElementById("subscribeForm").addEventListener("submit", async function(event) {
      event.preventDefault();
  
      const formData = new FormData(this);
      const email = formData.get("email");
  
      try {
        const sendButton = document.getElementById('sendbtn');
        sendButton.disabled = true;
        sendButton.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Subscribing...';
  
        const response = await fetch("/home/subscribe", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({ email })
        });
  
        let data;
        const contentType = response.headers.get("content-type");
  
        if (contentType && contentType.indexOf("application/json") !== -1) {
          data = await response.json();
        } else {
          data = await response.text();
        }
  
        if (response.ok) {
          Toastify({
            text: data.message || "Subscription successful!",
            duration: 10000,
            close: true,
            gravity: "bottom",
            position: "right",
            backgroundColor: "#198754",
          }).showToast();
        } else if (response.status === 400) {
          Toastify({
            text: data.message || "Email already exists",
            duration: 10000,
            close: true,
            gravity: "bottom",
            position: "right",
            backgroundColor: "#dc3545",
          }).showToast();
        } else {
          throw new Error(data.message || "An unexpected error occurred");
        }
      } catch (error) {
        //console.error("Error occurred during subscription:", error);
        Toastify({
          text: error.message || "Internal Server Error",
          duration: 10000,
          close: true,
          gravity: "bottom",
          position: "right",
          backgroundColor: "#dc3545",
        }).showToast();
      } finally {
        const sendButton = document.getElementById('sendbtn');
        sendButton.disabled = false;
        sendButton.innerHTML = "S'abonner";
      }
    });
  </script>
  
  <script src="plugin/twentytwenty/jquery.event.move.js"></script>
  <script src="plugin/twentytwenty/jquery.twentytwenty.js"></script>
  <script>
    $(function() {
      $(".twentytwenty-container[data-orientation='vertical']").twentytwenty({
        default_offset_pct: 0.5,
        orientation: 'vertical'
      });
    });
  </script>
</body>

</html>