<%- include('./commun/head', { nonce , titre: 'Images'}) %>
</head>


<body class="overflow-x-hidden">
  <%- include('./partials/navbar') %>
  <%- include('./partials/sectionhero', { titre: 'NOS INITIATIVES EN IMAGES' ,bgimage:'/images/cta-image-1.jpg'}) %>

  <section>
    <div id="imageslist" class="container">
      <div class="row">
        <div id="lightgallery" class="pictures">
          <% if (images.length > 0) { %>
          <% images.forEach(image => { %>
          <a href="<%= image.path %>">
            <img class="picture" src="<%= image.resizedPath %>" loading="lazy" />
          </a>
          <% }); %>
          <% } else { %>
          <p>Aucune image disponible</p>
          <% } %>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="row mt-4 pt-2">
        <!-- Pagination Links -->
        <nav aria-label="Page navigation example">
          <ul class="pagination pagination-primary  justify-content-center">
            <% if (currentPage > 1) { %>
            <li class="page-item">
              <a class="page-link" href="?page=<%= currentPage - 1 %>">Précédente</a>
            </li>
            <% } %>
            <% for (let i = 1; i <= totalPages; i++) { %>
            <li class="page-item <%= currentPage === i ? 'active' : '' %>">
              <a class="page-link" href="?page=<%= i %>"><%= i %></a>
            </li>
            <% } %>
            <% if (currentPage < totalPages) { %>
            <li class="page-item">
              <a class="page-link" href="?page=<%= currentPage + 1 %>">Suivante</a>
            </li>
            <% } %>
          </ul>
        </nav>
      </div>

    </div>

  </section>





  <%- include('./commun/footer') %>



  <script nonce="<%= nonce %>" src="plugin/jquery-tjgallery.min.js"></script>

  <script nonce="<%= nonce %>" type="text/javascript">
    lightGallery(document.getElementById('lightgallery'));
  </script>
  <script nonce="<%= nonce %>">
    // waiting for loading page
    $(window).on('load', function() {
      $('.pictures').tjGallery();
    })
  </script>


</body>

</html>