<!DOCTYPE html>
<html lang="en">
<%- include('./commun/head') %>



<body class="overflow-x-hidden">
  <%- include('./partials/navbar') %>
  <section class="section-3 bg-dark">
    jjjj
  </section>

  <section>
    <div id="imageslist" class="container">
      <div class="row">
        <div id="lightgallery" class="pictures">

          <% images.forEach(image => { %>
          <a href="<%= image.path.replace('attachments\\', '') %>">
            <img class="picture" src="<%= image.resizedPath %>" loading="lazy" />
          </a>
          <% }); %>


        </div>
      </div>
    </div>
    <% if (totalImages > limit) { %>
    <div class="container">
      <div class="d-flex justify-content-center my-5">
        <button id="load-more" class="btn btn-primary">Voir plus</button>
      </div>
    </div>
    <% } %>
  </section>





  <%- include('./commun/footer') %>



  <script src="plugin/jquery-tjgallery.min.js"></script>
  <script>
    // waiting for loading page
    $(window).on('load', function() {
      $('.pictures').tjGallery();
    })
  </script>
  <script type="text/javascript">
    lightGallery(document.getElementById('lightgallery'));
  </script>





  <!--   <script>
    let page = 1;
    const loadMoreButton = document.getElementById('load-more');
    loadMoreButton.addEventListener('click', () => {
      page++;
      fetch(`/galleryimages/images/${page}`)
        .then(response => response.json())
        .then(images => {
          if (images.length > 0) {
            const imageslist = document.getElementById('imageslist');
            var div = document.createElement('div');
            var divlight = document.createElement('div');
            div.className = "row";
            divlight.id = "lightgallery" + page;
            divlight.className = 'pictures';
            images.forEach(image => {
              const anchor = document.createElement('a');
              anchor.href = image.path.replace('attachments\\', '');
              const img = document.createElement('img');
              img.className = 'picture';
              img.src = image.resizedPath;
              img.loading = 'lazy';
              anchor.appendChild(img);
              divlight.appendChild(anchor);
            });
            const idlight = "lightgallery" + page;

            div.appendChild(divlight);
            imageslist.appendChild(div);
            $('.pictures').tjGallery();
            lightGallery(document.getElementById(idlight));
          }
        })
        .catch(error => console.error('Error loading more images:', error));
    });
  </script> -->


  <script>
    let page = 1;
    const loadMoreButton = document.getElementById('load-more');
    loadMoreButton.addEventListener('click', () => {
      page++;
      fetch(`/galleryimages/images/${page}`)
        .then(response => response.json())
        .then(data => {
          if(data.isEnd){
            loadMoreButton.remove() ;
          }
          if (data.resizedImages.length > 0) {
            const imageslist = document.getElementById('imageslist');
            var div = document.createElement('div');
            var divlight = document.createElement('div');
            div.className = "row";
            divlight.id = "lightgallery" + page;
            divlight.className = 'pictures';
            data.resizedImages.forEach(image => {
              const anchor = document.createElement('a');
              anchor.href = image.path.replace('attachments\\', '');
              const img = document.createElement('img');
              img.className = 'picture';
              img.src = image.resizedPath;
              img.loading = 'lazy';
              anchor.appendChild(img);
              divlight.appendChild(anchor);
            });
            const idlight = "lightgallery" + page;

            div.appendChild(divlight);
            imageslist.appendChild(div);
            $('.pictures').tjGallery();
            lightGallery(document.getElementById(idlight));
          }

        })
        .catch(error => console.error('Error loading more images:', error));
    });
  </script>



</body>

</html>